In [5]:
text = input("Type anything... ")

In [6]:
print(5*text)

hellohellohellohellohello

In [7]:
usa_gold = 40
uk_gold = 20
total_gold = usa_gold + uk_gold
print(total_gold)

60

In [8]:
usa_gold = usa_gold +1
print(total_gold)

60

In [9]:
140 // 6

23

In [10]:
140 % 6

2

In [12]:
import pandas as pd

In [13]:
df_flight = pd.read_csv('C:/Users/이세은/Desktop/BADA/data/flight.csv')

In [14]:
df_flight

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [15]:
a = 'hello'
b = 'world'
a+b

'helloworld'

In [16]:
c = '='*10
print(c)

==========

In [18]:
hello = 'Hello!'
len(hello)

6

In [21]:
s = "abc"
s[0]

'a'

In [22]:
s[1]

'b'

In [23]:
s[2]

'c'

In [24]:
s[3]

IndexError: string index out of range

In [25]:
s[-1]

'c'

In [26]:
s[-2]

'b'

In [27]:
s[-3]

'a'

In [28]:
s = 'abcdefgh'

In [29]:
s[3:6]

'def'

In [30]:
s[3:6:2]

'df'

In [31]:
s[:2]

'ab'

In [32]:
s[2:]

'cdefgh'

In [33]:
s[::]

'abcdefgh'

In [34]:
s[::-1]

'hgfedcba'

In [36]:
a = "hello"
a = 'y' + a[1:] + 'w'
print(a)

yellow

In [37]:
t = (1,2,3,4)
z = (5,)

In [40]:
t+z

(1, 2, 3, 4, 5)

In [41]:
t*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [42]:
len(t)

4

In [43]:
t[0]

1

In [44]:
t[1:3]

(2, 3)

In [48]:
def quotient_and_remainder (x,y):
    q = x//y
    r = x%y
    return (q,r)
(quot, rem) = quotient_and_remainder(4,5)
(quot, rem)

(0, 4)

In [49]:
L = [2,3,4,5]
T = [6,7,8,9]
L+T

[2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
L*2

[2, 3, 4, 5, 2, 3, 4, 5]

In [51]:
len(L)

4

In [52]:
L[0]

2

In [53]:
L[0:2]

[2, 3]

In [54]:
LL = [1,2,3,[4,5,6]]

In [55]:
LL[-1][1]

5

In [56]:
LL[-1][2]

6

In [57]:
L = [1,2,3]
L[2] = 4
L

[1, 2, 4]

In [58]:
L = [3,2,1]
L.append(4)
L

[3, 2, 1, 4]

In [59]:
sorted(L)

[1, 2, 3, 4]

In [60]:
L

[3, 2, 1, 4]

In [61]:
L.sort()

In [62]:
L

[1, 2, 3, 4]

In [63]:
del(L[3])

In [64]:
L

[1, 2, 3]

In [67]:
L.index(2)

1

In [68]:
L.pop()

3

In [69]:
L

[1, 2]

In [70]:
s = "I<3 cs"
list(s)

['I', '<', '3', ' ', 'c', 's']

In [71]:
s.split('<')

['I', '3 cs']

In [72]:
L = ['a','b','c']
''.join(L)

'abc'

In [73]:
'_'.join(L)

'a_b_c'

In [5]:
n = '990909-1012345'
n

'990909-1012345'

In [87]:
n[:6]

'990909'

In [88]:
n[7]

'1'

In [6]:
n_new = '98' + n[2:]
n_new

'980909-1012345'

In [18]:
L1 = ['re']
L2 = ['mi']
L3 = ['do']
L4 = L1 + L2
L4

['re', 'mi']

In [19]:
L3.extend(L4)
L3

['do', 're', 'mi']

In [20]:
L3.sort()
L3

['do', 'mi', 're']

In [21]:
del(L3[0])
L3

['mi', 're']

In [22]:
L3.append(['fa','la'])
L3

['mi', 're', ['fa', 'la']]

In [23]:
family_name = ['Kim','Lee','Park']
grade = ['B+','A0','A+']
score = [88,94,100]
i = family_name.index('Kim')
i

0

In [24]:
grade[i]

'B+'

In [25]:
score[i]

88

In [26]:
grades = {'Kim':['B+',88], 'Lee':['A0',94], 'Park':['A+',100]}
grades['Kim']

['B+', 88]

In [27]:
grades['Oh'] = ['A+',100]
grades

{'Kim': ['B+', 88], 'Lee': ['A0', 94], 'Park': ['A+', 100], 'Oh': ['A+', 100]}

In [28]:
'Oh' in grades

True

In [29]:
del(grades['Kim'])

In [30]:
print(grades)

{'Lee': ['A0', 94], 'Park': ['A+', 100], 'Oh': ['A+', 100]}

In [31]:
grades = {'Kim':['B+',88], 'Lee':['A0',94], 'Park':['A+',100]}
grades.keys()

dict_keys(['Kim', 'Lee', 'Park'])

In [32]:
grades.values()

dict_values([['B+', 88], ['A0', 94], ['A+', 100]])

In [33]:
grades.items()

dict_items([('Kim', ['B+', 88]), ('Lee', ['A0', 94]), ('Park', ['A+', 100])])

In [36]:
p = {'A101':['베개', 10000, 10], 
     'A102':['쿠션', 50000, 20],
     'A103':['솜이불', 100000, 40],
     'A104':['여름이불', 100000, 80],
     'B101':['매트리스', 500000, 160],
     'B102':['침대프레임', 1000000, 320]}
p

{'A101': ['베개', 10000, 10],
 'A102': ['쿠션', 50000, 20],
 'A103': ['솜이불', 100000, 40],
 'A104': ['여름이불', 100000, 80],
 'B101': ['매트리스', 500000, 160],
 'B102': ['침대프레임', 1000000, 320]}

In [37]:
'A101' in p

True

In [39]:
p['B101'][2]

160

In [41]:
list(p.keys())

['A101', 'A102', 'A103', 'A104', 'B101', 'B102']

In [1]:
for i in range(5,11,2):
    print(i)

5
7
9

In [2]:
for j in range(7,10):
    print(j)

7
8
9

In [3]:
for k in range(5):
    print(k)

0
1
2
3
4

In [4]:
n = 11
while n < 20:
    print(n)
    n = n + 2

11
13
15
17
19

In [5]:
for n in range(11, 20, 2):
    print(n)

11
13
15
17
19

In [6]:
def is_even(i):
    print('inside is even')
    return i % 2 == 0

In [7]:
is_even(2)

inside is even

True

In [8]:
is_even(3)

inside is even

False

In [19]:
def cube_root(cube):
    for guess in range(abs(cube)+1):
        if guess ** 3 >= abs(cube):
            break
    if guess ** 3 != abs(cube):
        print(cube, 'is not a perfect cube')
    else:
        if cube < 0:
            guess = -guess
        print('Cube root of ' + str(cube) + ' is ' + str(guess))

In [20]:
cube_root(8)

Cube root of 8 is 2

In [21]:
cube_root(-8)

Cube root of -8 is -2

In [22]:
cube_root(9)

9 is not a perfect cube

In [1]:
for x in range(2,10):
    print('--------- [' + str(x) + '단] ---------')
    for y in range(1,10):
        print(x, 'x', y, '=', x*y)

--------- [2단] ---------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------- [3단] ---------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------- [4단] ---------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------- [5단] ---------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------- [6단] ---------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------- [7단] ---------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------- [8단] ---------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------- [9단] ---------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [18]:
n = 6500
i = 0
while True:
    if n % 2 == 0:
        i = i + 1
        n = n / 2
    else:
        i = i + 1
        n = n * 3 + 1
    if n == 1:
        print(i)
        print(n)
        break
    if i == 500:
        print(i)
        print(-1)
        break

137
1.0