<a href="https://colab.research.google.com/github/seeedata/BADA/blob/main/0914%20OT/Coding%20Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 콜라츠 추측 문제

In [ ]:
i = 0
n = int(input())

while n!=1 and i<500:
    if n%2 == 0:
        i += 1
        n //= 2
    else:
        i += 1
        n = 3*n + 1

if n==1:
    print(i)
if i>=500:
    print(-1)

8

# 2. 데이터 핸들링 문제

## 2-1

In [ ]:
import pandas as pd

In [ ]:
def read_and_filter_data(file_name, gender):
    df = pd.read_csv(file_name)
    df = df.loc[df['성별']==gender]
    return df

In [ ]:
read_and_filter_data('data_codingtest.csv', '여성')

    이름  나이  성별
1  나정현  21  여성

## 2-2

In [ ]:
def calculate_mean_age(file_name):
    df = pd.read_csv(file_name)
    mean = df['나이'].mean()
    return mean

In [ ]:
calculate_mean_age('data_codingtest.csv')

22.0