<a href="https://colab.research.google.com/github/seeedata/BADA/blob/main/%ED%96%89%EC%82%AC%20%EC%B0%B8%EC%97%AC%20%EC%9D%B8%EC%9B%90%20%EC%98%88%EC%B8%A1%EC%9D%84%20%ED%86%B5%ED%95%9C%20%EC%95%88%EC%A0%84%20%EA%B4%80%EB%A6%AC%20%EC%BB%A8%EC%84%A4%ED%8C%85%20%EC%84%9C%EB%B9%84%EC%8A%A4/0726%20%EC%A7%80%ED%95%98%EC%B2%A0%20data%20%EC%9D%B4%EC%83%81%EC%B9%98%20%ED%83%90%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#import

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [ ]:
import math

In [ ]:
from datetime import datetime

In [ ]:
import warnings
warnings.filterwarnings('ignore')

#데이터 불러오기

In [ ]:
sub_before = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DAB/지하철_결측치제거_하차_잔차포함_코로나전.csv', index_col=0)
sub_mid = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DAB/지하철_결측치제거_하차_잔차포함_코로나중.csv', index_col=0)
sub_after = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DAB/지하철_결측치제거_하차_잔차포함_코로나후.csv', index_col=0)
sub_before.head()

,00~01,01~02,02~03,04~05,05~06,06~07,07~08,08~09,09~10,10~11,...,resid_14~15,resid_15~16,resid_16~17,resid_17~18,resid_18~19,resid_19~20,resid_20~21,resid_21~22,resid_22~23,resid_23~24
2018-12-01,13,0,0,7,75,356,308,569,919,923,...,372.848333,655.132678,1170.997939,1955.602747,1964.710746,-700.299002,-314.103932,-196.457743,-147.168520,-87.464049
2018-12-02,14,0,0,0,52,232,198,431,1297,941,...,1695.812879,2214.711219,2022.441510,-1040.457080,-1206.337255,-820.100935,-272.836590,-282.736889,-390.766005,-216.379886
2018-12-03,166,0,0,0,85,407,858,2383,1282,774,...,-1025.414481,-1335.594687,-1189.967762,-222.672429,-106.435003,45.710797,-8.250457,163.413002,122.177073,36.058801
2018-12-04,188,1,0,0,82,415,800,2455,1685,921,...,163.900101,142.038403,164.045786,-182.198058,-211.575416,27.097565,18.568544,29.203481,68.660028,-4.893015
2018-12-05,203,0,0,0,91,439,797,2633,1406,903,...,-844.922895,-352.065776,-142.689673,-292.674228,-159.582304,70.653587,11.752716,-20.788541,40.596868,-27.197820

#표준화 잔차 만들기

In [ ]:
def standardized_residuals(df):
    for column in ['resid_00~01', 'resid_01~02', 'resid_02~03', 'resid_04~05',
       'resid_05~06', 'resid_06~07', 'resid_07~08', 'resid_08~09',
       'resid_09~10', 'resid_10~11', 'resid_11~12', 'resid_12~13',
       'resid_13~14', 'resid_14~15', 'resid_15~16', 'resid_16~17',
       'resid_17~18', 'resid_18~19', 'resid_19~20', 'resid_20~21',
       'resid_21~22', 'resid_22~23', 'resid_23~24']:
        new_col_name = 'std{}'.format(column)
        df[new_col_name] = (df[column] - np.mean(df[column])) / np.std(df[column])
    return df.head()

In [ ]:
standardized_residuals(sub_before)

,00~01,01~02,02~03,04~05,05~06,06~07,07~08,08~09,09~10,10~11,...,stdresid_14~15,stdresid_15~16,stdresid_16~17,stdresid_17~18,stdresid_18~19,stdresid_19~20,stdresid_20~21,stdresid_21~22,stdresid_22~23,stdresid_23~24
2018-12-01,13,0,0,7,75,356,308,569,919,923,...,0.712289,1.176704,1.817673,2.747395,3.052838,-1.227775,-1.598415,-0.957153,-0.619949,-0.634707
2018-12-02,14,0,0,0,52,232,198,431,1297,941,...,3.231748,3.971728,3.137966,-1.460108,-1.869106,-1.438156,-1.388388,-1.377457,-1.646743,-1.569269
2018-12-03,166,0,0,0,85,407,858,2383,1282,774,...,-1.950567,-2.391010,-1.843364,-0.311656,-0.161892,0.082272,-0.041799,0.795936,0.515377,0.260759
2018-12-04,188,1,0,0,82,415,800,2455,1685,921,...,0.314368,0.257154,0.256240,-0.254816,-0.325086,0.049586,0.094694,0.142142,0.289796,-0.036117
2018-12-05,203,0,0,0,91,439,797,2633,1406,903,...,-1.606838,-0.628363,-0.219400,-0.409963,-0.244385,0.126073,0.060006,-0.101391,0.171506,-0.197813

In [ ]:
standardized_residuals(sub_mid)

,00~01,01~02,02~03,04~05,05~06,06~07,07~08,08~09,09~10,10~11,...,stdresid_14~15,stdresid_15~16,stdresid_16~17,stdresid_17~18,stdresid_18~19,stdresid_19~20,stdresid_20~21,stdresid_21~22,stdresid_22~23,stdresid_23~24
2020-01-20,175,0,0,0,85,506,798,2527,1283,737,...,5.589580,5.078282,5.540471,5.517260,6.160841,7.575355,9.924287,9.705327,10.219015,9.704584
2020-01-21,214,5,0,0,92,498,830,2695,1502,996,...,0.432196,0.078712,0.032287,0.089169,0.189575,-0.446106,-0.650326,-0.822485,2.261676,0.923156
2020-01-22,237,1,0,0,84,465,793,2551,1306,768,...,-0.178241,-0.068867,-0.390105,0.092892,0.467013,0.320994,-0.312179,0.126896,-1.575763,0.481130
2020-01-23,199,4,0,0,80,364,692,2276,1180,648,...,0.094914,1.153159,1.612254,1.631881,-0.545674,-2.573835,-2.376447,-3.438076,-2.670915,-2.025019
2020-01-24,2,0,0,0,41,169,111,219,296,308,...,-2.541399,-3.235687,-3.338961,-4.300515,-4.073659,-3.716359,-2.829798,-3.513028,-4.838902,-4.542086

In [ ]:
standardized_residuals(sub_after)

,00~01,01~02,02~03,04~05,05~06,06~07,07~08,08~09,09~10,10~11,...,stdresid_14~15,stdresid_15~16,stdresid_16~17,stdresid_17~18,stdresid_18~19,stdresid_19~20,stdresid_20~21,stdresid_21~22,stdresid_22~23,stdresid_23~24
2022-05-02,1,0,0,0,128,638,1151,2694,1395,800,...,1.714976,1.633759,1.607731,2.310609,3.604176,4.664481,7.262536,5.274943,4.783850,4.252430
2022-05-03,0,0,0,0,126,579,1071,3265,1858,926,...,0.009836,0.012496,0.070234,0.398022,0.798302,0.133119,0.369283,0.437288,0.949026,1.114674
2022-05-04,0,0,0,0,118,579,1199,3837,1713,985,...,0.409852,0.135953,0.198802,0.296988,0.581067,0.700794,-0.590129,0.175785,-0.356682,0.824467
2022-05-05,36,0,0,0,68,373,285,413,689,824,...,0.886335,0.757505,0.344560,-0.263694,-1.968731,-3.092331,-2.684500,-2.081741,-1.373718,-2.624869
2022-05-06,2,0,0,0,109,556,765,1837,1131,1067,...,-0.505692,-0.294733,-0.037138,0.318991,0.503929,0.312808,1.171310,0.632536,0.630045,1.958521

#표준화잔차만 있는 새로운 df 만들기

In [ ]:
def make_new_df(df):
    df = df[['stdresid_01~02', 'stdresid_02~03', 'stdresid_04~05', 'stdresid_05~06',
       'stdresid_06~07', 'stdresid_07~08', 'stdresid_08~09', 'stdresid_09~10',
       'stdresid_10~11', 'stdresid_11~12', 'stdresid_12~13', 'stdresid_13~14',
       'stdresid_14~15', 'stdresid_15~16', 'stdresid_16~17', 'stdresid_17~18',
       'stdresid_18~19', 'stdresid_19~20', 'stdresid_20~21', 'stdresid_21~22',
       'stdresid_22~23', 'stdresid_23~24']]
    return df

In [ ]:
sub_before = make_new_df(sub_before)

In [ ]:
sub_mid = make_new_df(sub_mid)

In [ ]:
sub_after = make_new_df(sub_after)

#표준화 잔차 값에 따라 새로운 값 부여하기

In [ ]:
def stdres_summary(x):
    return np.floor(x)

In [ ]:
# 데이터프레임의 모든 원소에 함수 적용
sub_before = sub_before.applymap(stdres_summary)
sub_before

,stdresid_01~02,stdresid_02~03,stdresid_04~05,stdresid_05~06,stdresid_06~07,stdresid_07~08,stdresid_08~09,stdresid_09~10,stdresid_10~11,stdresid_11~12,...,stdresid_14~15,stdresid_15~16,stdresid_16~17,stdresid_17~18,stdresid_18~19,stdresid_19~20,stdresid_20~21,stdresid_21~22,stdresid_22~23,stdresid_23~24
2018-12-01,-1.0,-1.0,6.0,-1.0,-2.0,-3.0,-3.0,-1.0,-1.0,0.0,...,0.0,1.0,1.0,2.0,3.0,-2.0,-2.0,-1.0,-1.0,-1.0
2018-12-02,-1.0,-1.0,-4.0,-2.0,-3.0,-2.0,-2.0,0.0,0.0,0.0,...,3.0,3.0,3.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0
2018-12-03,-1.0,-1.0,-2.0,0.0,0.0,1.0,1.0,0.0,-1.0,-1.0,...,-2.0,-3.0,-2.0,-1.0,-1.0,0.0,-1.0,0.0,0.0,0.0
2018-12-04,0.0,-1.0,2.0,-1.0,-1.0,0.0,0.0,0.0,0.0,-1.0,...,0.0,0.0,0.0,-1.0,-1.0,0.0,0.0,0.0,0.0,-1.0
2018-12-05,-1.0,-1.0,-1.0,0.0,0.0,1.0,0.0,0.0,-1.0,-1.0,...,-2.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,-1.0,0.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-15,-1.0,-1.0,-1.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-1.0,-1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2020-01-16,0.0,-1.0,-1.0,0.0,0.0,-1.0,0.0,0.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0
2020-01-17,0.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,-1.0,...,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,-1.0,-1.0,-1.0
2020-01-18,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,1.0,3.0,...,0.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0
2020-01-19,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-3.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0

In [ ]:
sub_mid = sub_mid.applymap(stdres_summary)
sub_mid

,stdresid_01~02,stdresid_02~03,stdresid_04~05,stdresid_05~06,stdresid_06~07,stdresid_07~08,stdresid_08~09,stdresid_09~10,stdresid_10~11,stdresid_11~12,...,stdresid_14~15,stdresid_15~16,stdresid_16~17,stdresid_17~18,stdresid_18~19,stdresid_19~20,stdresid_20~21,stdresid_21~22,stdresid_22~23,stdresid_23~24
2020-01-20,0.0,0.0,0.0,6.0,7.0,5.0,6.0,7.0,6.0,5.0,...,5.0,5.0,5.0,5.0,6.0,7.0,9.0,9.0,10.0,9.0
2020-01-21,8.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,2.0,0.0
2020-01-22,-4.0,0.0,0.0,-1.0,-1.0,0.0,0.0,-1.0,-2.0,-2.0,...,-1.0,-1.0,-1.0,0.0,0.0,0.0,-1.0,0.0,-2.0,0.0
2020-01-23,4.0,0.0,0.0,-1.0,-3.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,1.0,1.0,1.0,-1.0,-3.0,-3.0,-4.0,-3.0,-3.0
2020-01-24,-5.0,0.0,0.0,-4.0,-5.0,-5.0,-6.0,-6.0,-4.0,-3.0,...,-3.0,-4.0,-4.0,-5.0,-5.0,-4.0,-3.0,-4.0,-5.0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-27,-1.0,0.0,-1.0,-1.0,0.0,1.0,0.0,0.0,-1.0,-1.0,...,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-04-28,0.0,0.0,-1.0,1.0,-1.0,-1.0,0.0,-1.0,1.0,0.0,...,0.0,-1.0,0.0,-1.0,-1.0,-1.0,0.0,-1.0,0.0,-1.0
2022-04-29,-1.0,0.0,-1.0,-2.0,-1.0,-1.0,0.0,1.0,0.0,0.0,...,2.0,4.0,3.0,3.0,1.0,1.0,-1.0,0.0,1.0,2.0
2022-04-30,0.0,0.0,-1.0,0.0,0.0,0.0,-1.0,0.0,1.0,4.0,...,6.0,6.0,2.0,-3.0,-2.0,-1.0,1.0,0.0,0.0,-2.0
2022-05-01,0.0,0.0,-1.0,-1.0,-1.0,0.0,-1.0,0.0,1.0,2.0,...,3.0,0.0,-1.0,-1.0,-1.0,0.0,0.0,-1.0,-1.0,-2.0

In [ ]:
sub_after = sub_after.applymap(stdres_summary)
sub_after

,stdresid_01~02,stdresid_02~03,stdresid_04~05,stdresid_05~06,stdresid_06~07,stdresid_07~08,stdresid_08~09,stdresid_09~10,stdresid_10~11,stdresid_11~12,...,stdresid_14~15,stdresid_15~16,stdresid_16~17,stdresid_17~18,stdresid_18~19,stdresid_19~20,stdresid_20~21,stdresid_21~22,stdresid_22~23,stdresid_23~24
2022-05-02,-1.0,-1.0,-1.0,6.0,6.0,3.0,4.0,-1.0,3.0,2.0,...,1.0,1.0,1.0,2.0,3.0,4.0,7.0,5.0,4.0,4.0
2022-05-03,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,1.0,-1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2022-05-04,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,2.0,-1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0,0.0
2022-05-05,-1.0,-1.0,-1.0,-3.0,-3.0,-3.0,-5.0,-1.0,-1.0,0.0,...,0.0,0.0,0.0,-1.0,-2.0,-4.0,-3.0,-3.0,-2.0,-3.0
2022-05-06,-1.0,-1.0,-1.0,1.0,1.0,-1.0,1.0,-1.0,0.0,0.0,...,-1.0,-1.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-27,-1.0,-1.0,-1.0,1.0,1.0,0.0,0.0,-1.0,-2.0,-2.0,...,-2.0,-2.0,-1.0,-1.0,-1.0,-2.0,0.0,0.0,0.0,0.0
2023-03-28,-1.0,-1.0,-1.0,0.0,0.0,-1.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,-1.0,-1.0,0.0,-1.0,-1.0,0.0,0.0
2023-03-29,1.0,-1.0,-1.0,0.0,0.0,-1.0,0.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2023-03-30,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,2.0,-1.0,0.0,...,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0,-1.0,-1.0,-1.0
2023-03-31,1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,0.0,2.0,3.0,0.0,-1.0,-1.0,-1.0

#이상치 데이터프레임 만들기

In [ ]:
sub_before.reset_index(inplace=True)

In [ ]:
sub_mid.reset_index(inplace=True)
sub_after.reset_index(inplace=True)

In [ ]:
sub_before = sub_before.melt(id_vars='index').sort_values('value')
sub_mid = sub_mid.melt(id_vars='index').sort_values('value')
sub_after = sub_after.melt(id_vars='index').sort_values('value')

In [ ]:
sub_before

           index        variable  value
7909  2018-12-25  stdresid_21~22   -7.0
8324  2018-12-25  stdresid_22~23   -6.0
8739  2018-12-25  stdresid_23~24   -5.0
2262  2019-06-06  stdresid_07~08   -5.0
8689  2019-12-25  stdresid_22~23   -5.0
...          ...             ...    ...
30    2018-12-31  stdresid_01~02   12.0
3080  2019-05-25  stdresid_09~10   13.0
395   2019-12-31  stdresid_01~02   14.0
445   2018-12-31  stdresid_02~03   14.0
851   2018-12-22  stdresid_04~05   17.0

[9130 rows x 3 columns]

In [ ]:
sub_mid

           index        variable  value
7     2020-01-27  stdresid_01~02   -8.0
12    2020-02-01  stdresid_01~02   -8.0
3941  2021-09-20  stdresid_06~07   -6.0
7712  2020-08-22  stdresid_11~12   -6.0
5835  2020-01-24  stdresid_09~10   -6.0
...          ...             ...    ...
1710  2020-03-04  stdresid_04~05   12.0
1722  2020-03-16  stdresid_04~05   12.0
1824  2020-06-26  stdresid_04~05   12.0
5     2020-01-25  stdresid_01~02   15.0
839   2020-01-26  stdresid_02~03   22.0

[18326 rows x 3 columns]

In [ ]:
sub_after

           index        variable  value
6917  2022-12-25  stdresid_22~23   -8.0
6583  2022-12-25  stdresid_21~22   -5.0
2007  2022-05-05  stdresid_08~09   -5.0
1466  2022-09-09  stdresid_06~07   -5.0
1132  2022-09-09  stdresid_05~06   -5.0
...          ...             ...    ...
6580  2022-12-22  stdresid_21~22   10.0
243   2022-12-31  stdresid_01~02   12.0
1991  2023-03-19  stdresid_07~08   13.0
903   2022-12-23  stdresid_04~05   15.0
577   2022-12-31  stdresid_02~03   17.0

[7348 rows x 3 columns]

In [ ]:
sub_before.columns = ['date', 'time', 'stdres']
sub_mid.columns = ['date', 'time', 'stdres']
sub_after.columns = ['date', 'time', 'stdres']
sub_before.reset_index(drop=True)
sub_mid.reset_index(drop=True)
sub_after.reset_index(drop=True)

            date            time  stdres
0     2022-12-25  stdresid_22~23    -8.0
1     2022-12-25  stdresid_21~22    -5.0
2     2022-05-05  stdresid_08~09    -5.0
3     2022-09-09  stdresid_06~07    -5.0
4     2022-09-09  stdresid_05~06    -5.0
...          ...             ...     ...
7343  2022-12-22  stdresid_21~22    10.0
7344  2022-12-31  stdresid_01~02    12.0
7345  2023-03-19  stdresid_07~08    13.0
7346  2022-12-23  stdresid_04~05    15.0
7347  2022-12-31  stdresid_02~03    17.0

[7348 rows x 3 columns]

In [ ]:
sub_before['stdres'].values.dtype

dtype('float64')

In [ ]:
#stdres가 3 이상인 것만 남기기
sub_before_up3 = sub_before[sub_before['stdres'].values>=3]
sub_mid_up3 = sub_mid[sub_mid['stdres'].values>=3]
sub_after_up3 = sub_after[sub_after['stdres'].values>=3]

In [ ]:
sub_before_up3.reset_index(drop=True)

           date            time  stdres
0    2019-12-23  stdresid_04~05     3.0
1    2019-12-30  stdresid_17~18     3.0
2    2019-06-06  stdresid_16~17     3.0
3    2019-09-21  stdresid_12~13     3.0
4    2019-07-19  stdresid_19~20     3.0
..          ...             ...     ...
123  2018-12-31  stdresid_01~02    12.0
124  2019-05-25  stdresid_09~10    13.0
125  2019-12-31  stdresid_01~02    14.0
126  2018-12-31  stdresid_02~03    14.0
127  2018-12-22  stdresid_04~05    17.0

[128 rows x 3 columns]

In [ ]:
sub_mid_up3.reset_index(drop=True)

           date            time  stdres
0    2020-10-09  stdresid_11~12     3.0
1    2020-02-09  stdresid_14~15     3.0
2    2022-02-03  stdresid_09~10     3.0
3    2021-11-06  stdresid_10~11     3.0
4    2021-12-18  stdresid_18~19     3.0
..          ...             ...     ...
147  2020-03-04  stdresid_04~05    12.0
148  2020-03-16  stdresid_04~05    12.0
149  2020-06-26  stdresid_04~05    12.0
150  2020-01-25  stdresid_01~02    15.0
151  2020-01-26  stdresid_02~03    22.0

[152 rows x 3 columns]

In [ ]:
sub_after_up3.reset_index(drop=True)

          date            time  stdres
0   2022-12-23  stdresid_05~06     3.0
1   2022-12-11  stdresid_15~16     3.0
2   2022-08-12  stdresid_18~19     3.0
3   2022-08-20  stdresid_18~19     3.0
4   2023-03-25  stdresid_13~14     3.0
..         ...             ...     ...
82  2022-12-22  stdresid_21~22    10.0
83  2022-12-31  stdresid_01~02    12.0
84  2023-03-19  stdresid_07~08    13.0
85  2022-12-23  stdresid_04~05    15.0
86  2022-12-31  stdresid_02~03    17.0

[87 rows x 3 columns]

#행사 데이터 불러오기

In [ ]:
event = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DAB/Olympic_rent_2018 (1).csv')
event

,FCLTY_NM,EVENT_SDIV_NM,EVENT_NM,RENTLSPCE_BEGIN_DE,RENTLSPCE_END_DE,REQST_EVENT_NMPR_CO,EXCCLC_EVENT_NMPR_CO,ISE_ELSE_FLAG_NM,USE_DAY_CO
0,뮤즈라이브,문화예술행사,스트리머 뮤직 콘서트,2018-12-01,2018-12-01,210,210,내부,1
1,K-아트홀,순수예술공연,연극 <그을린사랑>,2018-12-03,2018-12-16,350,1435,내부,14
2,KSPO DOME(체조경기장),문화예술행사,2018 김동률 콘서트,2018-12-03,2018-12-09,33000,31525,내부,7
3,우리금융아트홀,대중공연,최현우 <THE BRAIN>,2018-12-04,2018-12-31,26460,18604,내부,28
4,핸드볼경기장,문화예술행사,2018 어반자카파 연말콘서트,2018-12-05,2018-12-10,6000,4778,내부,6
...,...,...,...,...,...,...,...,...,...
474,뮤즈라이브,문화예술행사,BoA콘서트,2023-03-06,2023-03-12,6000,4504,내부,7
475,핸드볼경기장,문화예술행사,2023 윤하 앵콜 콘서트,2023-03-08,2023-03-12,8000,9493,내부,5
476,KSPO DOME(체조경기장),문화예술행사,해리 스타일스 내한공연 (HARRY STYLES LIVE IN SEOUL),2023-03-13,2023-03-20,14000,15100,내부,8
477,평화의광장,공공행사,2023 서울마라톤 겸 동아마라톤,2023-03-18,2023-03-19,10000,10000,외부,2
478,우리금융아트홀,대중공연,"마치,호영",2023-03-25,2023-03-26,1100,992,내부,2

In [ ]:
event['RENTLSPCE_BEGIN_DE'] = pd.to_datetime(event['RENTLSPCE_BEGIN_DE'])
event['RENTLSPCE_END_DE'] = pd.to_datetime(event['RENTLSPCE_END_DE'])

def get_dates(row):
    return list(pd.date_range(start=row['RENTLSPCE_BEGIN_DE'], end=row['RENTLSPCE_END_DE'], freq='D'))

# Apply the function to each row to generate the 'dates' column
event['dates'] = event.apply(get_dates, axis=1)

In [ ]:
event

,FCLTY_NM,EVENT_SDIV_NM,EVENT_NM,RENTLSPCE_BEGIN_DE,RENTLSPCE_END_DE,REQST_EVENT_NMPR_CO,EXCCLC_EVENT_NMPR_CO,ISE_ELSE_FLAG_NM,USE_DAY_CO,dates
0,뮤즈라이브,문화예술행사,스트리머 뮤직 콘서트,2018-12-01,2018-12-01,210,210,내부,1,[2018-12-01 00:00:00]
1,K-아트홀,순수예술공연,연극 <그을린사랑>,2018-12-03,2018-12-16,350,1435,내부,14,"[2018-12-03 00:00:00, 2018-12-04 00:00:00, 201..."
2,KSPO DOME(체조경기장),문화예술행사,2018 김동률 콘서트,2018-12-03,2018-12-09,33000,31525,내부,7,"[2018-12-03 00:00:00, 2018-12-04 00:00:00, 201..."
3,우리금융아트홀,대중공연,최현우 <THE BRAIN>,2018-12-04,2018-12-31,26460,18604,내부,28,"[2018-12-04 00:00:00, 2018-12-05 00:00:00, 201..."
4,핸드볼경기장,문화예술행사,2018 어반자카파 연말콘서트,2018-12-05,2018-12-10,6000,4778,내부,6,"[2018-12-05 00:00:00, 2018-12-06 00:00:00, 201..."
...,...,...,...,...,...,...,...,...,...,...
474,뮤즈라이브,문화예술행사,BoA콘서트,2023-03-06,2023-03-12,6000,4504,내부,7,"[2023-03-06 00:00:00, 2023-03-07 00:00:00, 202..."
475,핸드볼경기장,문화예술행사,2023 윤하 앵콜 콘서트,2023-03-08,2023-03-12,8000,9493,내부,5,"[2023-03-08 00:00:00, 2023-03-09 00:00:00, 202..."
476,KSPO DOME(체조경기장),문화예술행사,해리 스타일스 내한공연 (HARRY STYLES LIVE IN SEOUL),2023-03-13,2023-03-20,14000,15100,내부,8,"[2023-03-13 00:00:00, 2023-03-14 00:00:00, 202..."
477,평화의광장,공공행사,2023 서울마라톤 겸 동아마라톤,2023-03-18,2023-03-19,10000,10000,외부,2,"[2023-03-18 00:00:00, 2023-03-19 00:00:00]"
478,우리금융아트홀,대중공연,"마치,호영",2023-03-25,2023-03-26,1100,992,내부,2,"[2023-03-25 00:00:00, 2023-03-26 00:00:00]"

In [ ]:
event['dates']

0                                  [2018-12-01 00:00:00]
1      [2018-12-03 00:00:00, 2018-12-04 00:00:00, 201...
2      [2018-12-03 00:00:00, 2018-12-04 00:00:00, 201...
3      [2018-12-04 00:00:00, 2018-12-05 00:00:00, 201...
4      [2018-12-05 00:00:00, 2018-12-06 00:00:00, 201...
                             ...
474    [2023-03-06 00:00:00, 2023-03-07 00:00:00, 202...
475    [2023-03-08 00:00:00, 2023-03-09 00:00:00, 202...
476    [2023-03-13 00:00:00, 2023-03-14 00:00:00, 202...
477           [2023-03-18 00:00:00, 2023-03-19 00:00:00]
478           [2023-03-25 00:00:00, 2023-03-26 00:00:00]
Name: dates, Length: 479, dtype: object

In [ ]:
event.columns = ['FCLTY_NM', 'EVENT_SDIV_NM', 'n', 'sd',
       'ed', 'rn', 'en',
       'ISE_ELSE_FLAG_NM', 'USE_DAY_CO', 'dates']

#이상치에 해당하는 행사 추출

##전체 함수

In [ ]:
def find_event(df, stdres):
    date_df = df[df['stdres']==stdres][['date', 'time', 'stdres']]
    date_values = pd.to_datetime(date_df['date'].unique())

    new_df = pd.DataFrame()

    for i in range(len(event)):
        for j in date_values:
            if j in event.at[i, 'dates']:
                new_df = new_df.append(event.iloc[i, [2,3,4,5,6]])

    return date_df, new_df

##sub_before

In [ ]:
find_event(sub_before_up3, 17.0)

(           date            time  stdres
 851  2018-12-22  stdresid_04~05    17.0,
                                       n         sd         ed     rn     en
 3                       최현우 <THE BRAIN> 2018-12-04 2018-12-31  26460  18604
 7                              뮤지컬 잭더리퍼 2018-12-10 2019-01-20      0     60
 10              PSY CONCERT 올나잇스탠드 2018 2018-12-17 2018-12-25  48000  47571
 11  2017 케이윌 전국투어콘서트 <THE K.WILL> 서울 공연 2018-12-18 2018-12-25  10600  10980
 12           2018 박정현 콘서트 외 기획공연 대관 신청서 2018-12-18 2018-12-25  14000   9159
 13                          2018 태일 콘서트 2018-12-20 2018-12-23    400    839
 15                       박학기 콘서트 <계절학기> 2018-12-22 2018-12-22    200    284)

In [ ]:
find_event(sub_before_up3, 14.0)

(           date            time  stdres
 395  2019-12-31  stdresid_01~02    14.0
 445  2018-12-31  stdresid_02~03    14.0,
                                   n         sd         ed     rn     en
 3                   최현우 <THE BRAIN> 2018-12-04 2018-12-31  26460  18604
 7                          뮤지컬 잭더리퍼 2018-12-10 2019-01-20      0     60
 17                    2018 대한민국 이문세 2018-12-26 2018-12-31  45000  34846
 18                  2018 김범수 연말 콘서트 2018-12-26 2018-12-31  10500   9806
 19   2018 <황치열> 콘서트 / 2018 <더원> 콘서트 2018-12-26 2018-12-31   7900   5633
 231                   2019 박진영 나쁜파티 2019-12-25 2019-12-31   8100   8643
 232               EXO 5번째 콘서트 앵콜 공연 2019-12-26 2019-12-31  52000  44144
 233    Crush Concert 2019 'happier' 2019-12-26 2019-12-31  12000  14798)

In [ ]:
find_event(sub_before_up3, 13.0)

(            date            time  stdres
 3080  2019-05-25  stdresid_09~10    13.0,
                                            n         sd         ed     rn  \
 78              어린이 감성 체험전 <우당탕탕 아빠가 만든 놀이터> 2019-04-18 2019-06-22   5500
 103  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-19 2019-05-27  23000
 104                   2019 TWICE 단독 콘서트 (가제) 2019-05-20 2019-05-27  11000
 106  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-21 2019-05-27  23000
 107  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-23 2019-05-27   5000
 108  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-23 2019-05-26   1200

         en
 78    5000
 103  26747
 104  17600
 106  26747
 107  13373
 108  16000  )

In [ ]:
find_event(sub_before_up3, 12.0)

(            date            time  stdres
 3495  2019-05-25  stdresid_10~11    12.0
 30    2018-12-31  stdresid_01~02    12.0,
                                            n         sd         ed     rn  \
 3                            최현우 <THE BRAIN> 2018-12-04 2018-12-31  26460
 7                                   뮤지컬 잭더리퍼 2018-12-10 2019-01-20      0
 17                             2018 대한민국 이문세 2018-12-26 2018-12-31  45000
 18                           2018 김범수 연말 콘서트 2018-12-26 2018-12-31  10500
 19            2018 <황치열> 콘서트 / 2018 <더원> 콘서트 2018-12-26 2018-12-31   7900
 78              어린이 감성 체험전 <우당탕탕 아빠가 만든 놀이터> 2019-04-18 2019-06-22   5500
 103  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-19 2019-05-27  23000
 104                   2019 TWICE 단독 콘서트 (가제) 2019-05-20 2019-05-27  11000
 106  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-21 2019-05-27  23000
 107  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-23 2019-05-27   5000
 108  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-23 2019-05-26   1200

         en
 3    18604
 7       60
 17   34846
 18    9806
 19    5633
 78    5000
 103  26747
 104  17600
 106  26747
 107  13373
 108  16000  )

In [ ]:
find_event(sub_before_up3, 11.0)

(           date            time  stdres
 481  2019-02-05  stdresid_02~03    11.0,
                        n         sd         ed     rn     en
 30  10주년 기념 뮤지컬 '잭 더 리퍼' 2019-01-14 2019-04-01  64905  48840)

In [ ]:
find_event(sub_before_up3, 10.0)

(            date            time  stdres
 8320  2018-12-21  stdresid_22~23    10.0,
                                       n         sd         ed     rn     en
 3                       최현우 <THE BRAIN> 2018-12-04 2018-12-31  26460  18604
 7                              뮤지컬 잭더리퍼 2018-12-10 2019-01-20      0     60
 10              PSY CONCERT 올나잇스탠드 2018 2018-12-17 2018-12-25  48000  47571
 11  2017 케이윌 전국투어콘서트 <THE K.WILL> 서울 공연 2018-12-18 2018-12-25  10600  10980
 12           2018 박정현 콘서트 외 기획공연 대관 신청서 2018-12-18 2018-12-25  14000   9159
 13                          2018 태일 콘서트 2018-12-20 2018-12-23    400    839
 14  윤주희 2집앨범 <Mother Nature> 발매 기념 쇼케이스 2018-12-21 2018-12-21    190    128)

In [ ]:
find_event(sub_before_up3, 8.0)

(            date            time  stdres
 2655  2019-05-15  stdresid_08~09     8.0
 8269  2019-12-20  stdresid_21~22     8.0
 9099  2019-12-20  stdresid_23~24     8.0
 8735  2018-12-21  stdresid_23~24     8.0
 3910  2019-05-25  stdresid_11~12     8.0
 7905  2018-12-21  stdresid_21~22     8.0
 7624  2019-05-04  stdresid_20~21     8.0,
                                            n         sd         ed     rn  \
 3                            최현우 <THE BRAIN> 2018-12-04 2018-12-31  26460
 7                                   뮤지컬 잭더리퍼 2018-12-10 2019-01-20      0
 10                   PSY CONCERT 올나잇스탠드 2018 2018-12-17 2018-12-25  48000
 11       2017 케이윌 전국투어콘서트 <THE K.WILL> 서울 공연 2018-12-18 2018-12-25  10600
 12                2018 박정현 콘서트 외 기획공연 대관 신청서 2018-12-18 2018-12-25  14000
 13                               2018 태일 콘서트 2018-12-20 2018-12-23    400
 14       윤주희 2집앨범 <Mother Nature> 발매 기념 쇼케이스 2018-12-21 2018-12-21    190
 78              어린이 감성 체험전 <우당탕탕 아빠가 만든 놀이터> 2019-04-18 2019-06-22   5500
 78              어린이 감성 체험전 <우당탕탕 아빠가 만든 놀이터> 2019-04-18 2019-06-22   5500
 78              어린이 감성 체험전 <우당탕탕 아빠가 만든 놀이터> 2019-04-18 2019-06-22   5500
 83                               뮤지컬 메카드 시리즈 2019-04-22 2019-05-19  20500
 83                               뮤지컬 메카드 시리즈 2019-04-22 2019-05-19  20500
 89                            캐리TV 러브콘서트2019 2019-05-01 2019-05-06   1000
 90                           2019 미스트롯 효 콘서트 2019-05-02 2019-05-06  15000
 91                        제29회 송파구청장기 배드민턴대회 2019-05-04 2019-05-04   2000
 92                                 김희철 토크콘서트 2019-05-04 2019-05-05    600
 99                     2019 나훈아 청춘 AGAIN 콘서트 2019-05-13 2019-05-20   8000
 100                       현대백화점 슈퍼스테이지(내한공연) 2019-05-14 2019-05-17   3100
 101                            2019 여자친구 콘서트 2019-05-15 2019-05-20   8400
 103  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-19 2019-05-27  23000
 104                   2019 TWICE 단독 콘서트 (가제) 2019-05-20 2019-05-27  11000
 106  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-21 2019-05-27  23000
 107  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-23 2019-05-27   5000
 108  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-23 2019-05-26   1200
 226                  PSY CONCERT 올나잇스탠드 2019 2019-12-16 2019-12-25  52600
 227                          2019 DAY6 연말콘서트 2019-12-16 2019-12-24  14800
 228            PARK JIHOON MINI CONCERT (가제) 2019-12-18 2019-12-22   7200
 229                          2019 페퍼톤스 연말콘서트 2019-12-19 2019-12-25   1600

         en
 3    18604
 7       60
 10   47571
 11   10980
 12    9159
 13     839
 14     128
 78    5000
 78    5000
 78    5000
 83   17805
 83   17805
 89   12049
 90   16930
 91    1400
 92     871
 99   22353
 100   4749
 101   5860
 103  26747
 104  17600
 106  26747
 107  13373
 108  16000
 226  46133
 227  12665
 228   7069
 229   2186  )

In [ ]:
find_event(sub_before_up3, 7.0)

(            date            time  stdres
 9103  2019-12-24  stdresid_23~24     7.0
 8688  2019-12-24  stdresid_22~23     7.0
 1266  2018-12-22  stdresid_05~06     7.0
 8684  2019-12-20  stdresid_22~23     7.0
 2596  2019-03-17  stdresid_08~09     7.0
 3070  2019-05-15  stdresid_09~10     7.0,
                                        n         sd         ed     rn     en
 3                        최현우 <THE BRAIN> 2018-12-04 2018-12-31  26460  18604
 7                               뮤지컬 잭더리퍼 2018-12-10 2019-01-20      0     60
 10               PSY CONCERT 올나잇스탠드 2018 2018-12-17 2018-12-25  48000  47571
 11   2017 케이윌 전국투어콘서트 <THE K.WILL> 서울 공연 2018-12-18 2018-12-25  10600  10980
 12            2018 박정현 콘서트 외 기획공연 대관 신청서 2018-12-18 2018-12-25  14000   9159
 13                           2018 태일 콘서트 2018-12-20 2018-12-23    400    839
 15                        박학기 콘서트 <계절학기> 2018-12-22 2018-12-22    200    284
 30                  10주년 기념 뮤지컬 '잭 더 리퍼' 2019-01-14 2019-04-01  64905  48840
 60                            태민 2번째 콘서트 2019-03-11 2019-03-18  10800  14241
 61        LA필하모닉 오케스트라 - 존 윌리엄스 영화음악 콘서트 2019-03-14 2019-03-18   8000   5867
 62              2019서울국제마라톤 겸 제90회 동아마라톤 2019-03-16 2019-03-17  10000  10000
 78          어린이 감성 체험전 <우당탕탕 아빠가 만든 놀이터> 2019-04-18 2019-06-22   5500   5000
 83                           뮤지컬 메카드 시리즈 2019-04-22 2019-05-19  20500  17805
 99                 2019 나훈아 청춘 AGAIN 콘서트 2019-05-13 2019-05-20   8000  22353
 100                   현대백화점 슈퍼스테이지(내한공연) 2019-05-14 2019-05-17   3100   4749
 101                        2019 여자친구 콘서트 2019-05-15 2019-05-20   8400   5860
 226              PSY CONCERT 올나잇스탠드 2019 2019-12-16 2019-12-25  52600  46133
 226              PSY CONCERT 올나잇스탠드 2019 2019-12-16 2019-12-25  52600  46133
 227                      2019 DAY6 연말콘서트 2019-12-16 2019-12-24  14800  12665
 227                      2019 DAY6 연말콘서트 2019-12-16 2019-12-24  14800  12665
 228        PARK JIHOON MINI CONCERT (가제) 2019-12-18 2019-12-22   7200   7069
 229                      2019 페퍼톤스 연말콘서트 2019-12-19 2019-12-25   1600   2186
 229                      2019 페퍼톤스 연말콘서트 2019-12-19 2019-12-25   1600   2186
 230             LEE YONGSIN CONCERT (가제) 2019-12-23 2019-12-25   7200   7460)

In [ ]:
find_event(sub_before_up3, 6.0)

(            date            time  stdres
 2250  2019-05-25  stdresid_07~08     6.0
 7865  2019-12-31  stdresid_20~21     6.0
 830   2018-12-01  stdresid_04~05     6.0
 7061  2018-12-07  stdresid_19~20     6.0
 1835  2019-05-25  stdresid_06~07     6.0
 3523  2019-06-22  stdresid_10~11     6.0,
                                            n         sd         ed     rn  \
 0                                스트리머 뮤직 콘서트 2018-12-01 2018-12-01    210
 1                                 연극 <그을린사랑> 2018-12-03 2018-12-16    350
 2                               2018 김동률 콘서트 2018-12-03 2018-12-09  33000
 3                            최현우 <THE BRAIN> 2018-12-04 2018-12-31  26460
 4                           2018 어반자카파 연말콘서트 2018-12-05 2018-12-10   6000
 5                             에일리 단독콘서트 2018 2018-12-06 2018-12-09   4250
 78              어린이 감성 체험전 <우당탕탕 아빠가 만든 놀이터> 2019-04-18 2019-06-22   5500
 78              어린이 감성 체험전 <우당탕탕 아빠가 만든 놀이터> 2019-04-18 2019-06-22   5500
 103  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-19 2019-05-27  23000
 104                   2019 TWICE 단독 콘서트 (가제) 2019-05-20 2019-05-27  11000
 106  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-21 2019-05-27  23000
 107  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-23 2019-05-27   5000
 108  제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-23 2019-05-26   1200
 122                       2019 방탄소년단 팬미팅(가제) 2019-06-17 2019-06-24  28000
 123                       2019 방탄소년단 팬미팅(가제) 2019-06-18 2019-06-24  16000
 124                             2019 정승환 콘서트 2019-06-20 2019-06-23   2500
 125                       정민 1st concet (가제) 2019-06-21 2019-06-22    237
 231                            2019 박진영 나쁜파티 2019-12-25 2019-12-31   8100
 232                        EXO 5번째 콘서트 앵콜 공연 2019-12-26 2019-12-31  52000
 233             Crush Concert 2019 'happier' 2019-12-26 2019-12-31  12000

         en
 0      210
 1     1435
 2    31525
 3    18604
 4     4778
 5     3450
 78    5000
 78    5000
 103  26747
 104  17600
 106  26747
 107  13373
 108  16000
 122  27427
 123  17479
 124   4334
 125    440
 231   8643
 232  44144
 233  14798  )

In [ ]:
find_event(sub_before_up3, 5.0)

(            date            time  stdres
 810   2019-12-31  stdresid_02~03     5.0
 4199  2019-01-19  stdresid_12~13     5.0
 1691  2019-01-01  stdresid_06~07     5.0
 7353  2019-09-25  stdresid_19~20     5.0
 4353  2019-06-22  stdresid_12~13     5.0
 3938  2019-06-22  stdresid_11~12     5.0
 6013  2019-06-22  stdresid_16~17     5.0
 4754  2019-06-08  stdresid_13~14     5.0
 4325  2019-05-25  stdresid_12~13     5.0
 8273  2019-12-24  stdresid_21~22     5.0
 5310  2019-10-27  stdresid_14~15     5.0
 2665  2019-05-25  stdresid_08~09     5.0
 3896  2019-05-11  stdresid_11~12     5.0
 7271  2019-07-05  stdresid_19~20     5.0
 702   2019-09-14  stdresid_02~03     5.0,
                                                      n         sd         ed  \
 7                                             뮤지컬 잭더리퍼 2018-12-10 2019-01-20
 7                                             뮤지컬 잭더리퍼 2018-12-10 2019-01-20
 22                                최현우 <THE BRAIN> [추가] 2019-01-01 2019-01-06
 30                                10주년 기념 뮤지컬 '잭 더 리퍼' 2019-01-14 2019-04-01
 31   SHINSEGAE DUTY FREE 2019 Super Lucky Day with ... 2019-01-19 2019-01-19
 78                        어린이 감성 체험전 <우당탕탕 아빠가 만든 놀이터> 2019-04-18 2019-06-22
 78                        어린이 감성 체험전 <우당탕탕 아빠가 만든 놀이터> 2019-04-18 2019-06-22
 78                        어린이 감성 체험전 <우당탕탕 아빠가 만든 놀이터> 2019-04-18 2019-06-22
 78                        어린이 감성 체험전 <우당탕탕 아빠가 만든 놀이터> 2019-04-18 2019-06-22
 83                                         뮤지컬 메카드 시리즈 2019-04-22 2019-05-19
 94                                     뷰티풀 민트 라이프 2019 2019-05-07 2019-05-13
 95                                     뷰티풀 민트 라이프 2019 2019-05-07 2019-05-13
 96                                  2019 신유 콘서트 “LOVE” 2019-05-10 2019-05-11
 97                            제11회 KPDC 전국 댄스스포츠 선수권대회 2019-05-11 2019-05-12
 103            제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-19 2019-05-27
 104                             2019 TWICE 단독 콘서트 (가제) 2019-05-20 2019-05-27
 106            제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-21 2019-05-27
 107            제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-23 2019-05-27
 108            제13회 서울재즈페스티벌(Seoul Jazz Festival) 2019 2019-05-23 2019-05-26
 109                 올댓 스케이트 2019 (All That Skate 2019) 2019-05-27 2019-06-09
 116                               제 14회 2019 아시아모델페스티벌 2019-06-04 2019-06-10
 117                             치어업! 코리아 오픈2019 치어리딩대회 2019-06-07 2019-06-08
 122                                 2019 방탄소년단 팬미팅(가제) 2019-06-17 2019-06-24
 123                                 2019 방탄소년단 팬미팅(가제) 2019-06-18 2019-06-24
 124                                       2019 정승환 콘서트 2019-06-20 2019-06-23
 125                                 정민 1st concet (가제) 2019-06-21 2019-06-22
 128                          뮤지컬 <점박이 한반도의 공룡: 새로운 낙원> 2019-06-24 2019-07-09
 129                                  2019 박효신 20주년 콘서트 2019-06-24 2019-07-14
 131                   BISFed 2019 서울 아시아-오세아니아 지역선수권대회 2019-06-27 2019-07-10
 134                                       2019 박재범 콘서트 2019-07-03 2019-07-08
 155                                       2019년 전국체육대회 2019-08-26 2019-10-10
 155                                       2019년 전국체육대회 2019-08-26 2019-10-10
 158                                       2019년 전국체육대회 2019-08-29 2019-10-10
 158                                       2019년 전국체육대회 2019-08-29 2019-10-10
 161                   뮤지컬 싯타르타(The Life Of siddhartha) 2019-09-02 2019-09-29
 161                   뮤지컬 싯타르타(The Life Of siddhartha) 2019-09-02 2019-09-29
 171                                       2019 한성백제문화제 2019-09-19 2019-10-02
 173                    2019 션 멘데스 & 더 월드 오브 한스 짐머 내한공연 2019-09-23 2019-09-30
 190                                         BoA 단독 콘서트 2019-10-21 2019-10-27
 191                                2019 WINNER CONCERT 2019-10-21 2019-10-28
 192                           2019 코리아오픈에어로빅대회겸 국제힙합대회 2019-10-22 2019-10-28
 193                           스무살 단독콘서트 / 스웨덴세탁소 단독콘서트 2019-10-25 2019-10-27
 226                            PSY CONCERT 올나잇스탠드 2019 2019-12-16 2019-12-25
 227                                    2019 DAY6 연말콘서트 2019-12-16 2019-12-24
 229                                    2019 페퍼톤스 연말콘서트 2019-12-19 2019-12-25
 230                           LEE YONGSIN CONCERT (가제) 2019-12-23 2019-12-25
 231                                      2019 박진영 나쁜파티 2019-12-25 2019-12-31
 232                                  EXO 5번째 콘서트 앵콜 공연 2019-12-26 2019-12-31
 233                       Crush Concert 2019 'happier' 2019-12-26 2019-12-31

          rn      en
 7         0      60
 7         0      60
 22    26460   18604
 30    64905   48840
 31      220     240
 78     5500    5000
 78     5500    5000
 78     5500    5000
 78     5500    5000
 83    20500   17805
 94     7000   19565
 95     7000   19565
 96     2800    1467
 97     1000     600
 103   23000   26747
 104   11000   17600
 106   23000   26747
 107    5000   13373
 108    1200   16000
 109   30000   24862
 116   10000    3250
 117    1000    1000
 122   28000   27427
 123   16000   17479
 124    2500    4334
 125     237     440
 128       0     100
 129  115000  101251
 131     800    1831
 134    3500    5615
 155   11000   11000
 155   11000   11000
 158    1300    1300
 158    1300    1300
 161   30000   10058
 161   30000   10058
 171  570000   60000
 173   20000   22153
 190    4500    4056
 191   20000   13557
 192    2600    2600
 193     389     462
 226   52600   46133
 227   14800   12665
 229    1600    2186
 230    7200    7460
 231    8100    8643
 232   52000   44144
 233   12000   14798  )

In [ ]:
find_event(sub_before_up3, 4.0)

(            date            time  stdres
 6941  2019-09-28  stdresid_18~19     4.0
 6938  2019-09-25  stdresid_18~19     4.0
 5528  2019-04-13  stdresid_15~16     4.0
 6428  2019-06-22  stdresid_17~18     4.0
 4895  2019-10-27  stdresid_13~14     4.0
 66    2019-02-05  stdresid_01~02     4.0
 3011  2019-03-17  stdresid_09~10     4.0
 4563  2020-01-18  stdresid_12~13     4.0
 7334  2019-09-06  stdresid_19~20     4.0
 4649  2019-02-23  stdresid_13~14     4.0
 5183  2019-06-22  stdresid_14~15     4.0
 5113  2019-04-13  stdresid_14~15     4.0
 4797  2019-07-21  stdresid_13~14     4.0
 1268  2018-12-24  stdresid_05~06     4.0
 7277  2019-07-11  stdresid_19~20     4.0
 4029  2019-09-21  stdresid_11~12     4.0
 6787  2019-04-27  stdresid_18~19     4.0
 2240  2019-05-15  stdresid_07~08     4.0
 4768  2019-06-22  stdresid_13~14     4.0
 6232  2018-12-08  stdresid_17~18     4.0
 6618  2019-12-29  stdresid_17~18     4.0
 7858  2019-12-24  stdresid_20~21     4.0
 4382  2019-07-21  stdresid_12~13     4.0
 7493  2018-12-24  stdresid_20~21     4.0
 1630  2019-12-21  stdresid_05~06     4.0
 7209  2019-05-04  stdresid_19~20     4.0
 1634  2019-12-25  stdresid_05~06     4.0
 1932  2019-08-30  stdresid_06~07     4.0
 4740  2019-05-25  stdresid_13~14     4.0,
                                 n         sd         ed     rn     en
 1                      연극 <그을린사랑> 2018-12-03 2018-12-16    350   1435
 2                    2018 김동률 콘서트 2018-12-03 2018-12-09  33000  31525
 3                 최현우 <THE BRAIN> 2018-12-04 2018-12-31  26460  18604
 3                 최현우 <THE BRAIN> 2018-12-04 2018-12-31  26460  18604
 4                2018 어반자카파 연말콘서트 2018-12-05 2018-12-10   6000   4778
 ..                            ...        ...        ...    ...    ...
 232             EXO 5번째 콘서트 앵콜 공연 2019-12-26 2019-12-31  52000  44144
 233  Crush Concert 2019 'happier' 2019-12-26 2019-12-31  12000  14798
 234                2019 이진아 연말콘서트 2019-12-27 2019-12-29    700    726
 239                    태연 4번째 콘서트 2020-01-13 2020-01-19  10000  12251
 240                 2020 여자친구 팬미팅 2020-01-17 2020-01-19   2500   2554

 [108 rows x 5 columns])

In [ ]:
find_event(sub_before_up3, 3.0)

(            date            time  stdres
 1217  2019-12-23  stdresid_04~05     3.0
 6619  2019-12-30  stdresid_17~18     3.0
 5997  2019-06-06  stdresid_16~17     3.0
 4444  2019-09-21  stdresid_12~13     3.0
 7285  2019-07-19  stdresid_19~20     3.0
 6862  2019-07-11  stdresid_18~19     3.0
 5373  2019-12-29  stdresid_14~15     3.0
 6850  2019-06-29  stdresid_18~19     3.0
 4326  2019-05-26  stdresid_12~13     3.0
 4207  2019-01-27  stdresid_12~13     3.0
 6255  2018-12-31  stdresid_17~18     3.0
 6856  2019-07-05  stdresid_18~19     3.0
 3614  2019-09-21  stdresid_10~11     3.0
 6233  2018-12-09  stdresid_17~18     3.0
 6864  2019-07-13  stdresid_18~19     3.0
 7908  2018-12-24  stdresid_21~22     3.0
 6203  2019-12-29  stdresid_16~17     3.0
 4311  2019-05-11  stdresid_12~13     3.0
 6205  2019-12-31  stdresid_16~17     3.0
 6919  2019-09-06  stdresid_18~19     3.0
 7907  2018-12-23  stdresid_21~22     3.0
 6526  2019-09-28  stdresid_17~18     3.0
 8736  2018-12-22  stdresid_23~24     3.0
 8738  2018-12-24  stdresid_23~24     3.0
 5396  2018-12-02  stdresid_15~16     3.0
 6167  2019-11-23  stdresid_16~17     3.0
 6870  2019-07-19  stdresid_18~19     3.0
 5725  2019-10-27  stdresid_15~16     3.0
 2056  2020-01-01  stdresid_06~07     3.0
 27    2018-12-28  stdresid_01~02     3.0
 7290  2019-07-24  stdresid_19~20     3.0
 7443  2019-12-24  stdresid_19~20     3.0
 4699  2019-04-14  stdresid_13~14     3.0
 5811  2018-12-02  stdresid_16~17     3.0
 5788  2019-12-29  stdresid_15~16     3.0
 7854  2019-12-20  stdresid_20~21     3.0
 5789  2019-12-30  stdresid_15~16     3.0
 5790  2019-12-31  stdresid_15~16     3.0
 6040  2019-07-19  stdresid_16~17     3.0
 5253  2019-08-31  stdresid_14~15     3.0
 5036  2019-01-26  stdresid_14~15     3.0
 7028  2019-12-24  stdresid_18~19     3.0
 7490  2018-12-21  stdresid_20~21     3.0
 7492  2018-12-23  stdresid_20~21     3.0
 7201  2019-04-26  stdresid_19~20     3.0
 4621  2019-01-26  stdresid_13~14     3.0
 7078  2018-12-24  stdresid_19~20     3.0
 5598  2019-06-22  stdresid_15~16     3.0
 6640  2018-12-01  stdresid_18~19     3.0
 8321  2018-12-22  stdresid_22~23     3.0
 2391  2019-10-13  stdresid_07~08     3.0
 4148  2020-01-18  stdresid_11~12     3.0
 7855  2019-12-21  stdresid_20~21     3.0
 4698  2019-04-13  stdresid_13~14     3.0
 4981  2018-12-02  stdresid_14~15     3.0
 5114  2019-04-14  stdresid_14~15     3.0
 3792  2019-01-27  stdresid_11~12     3.0,
                                 n         sd         ed     rn     en
 0                     스트리머 뮤직 콘서트 2018-12-01 2018-12-01    210    210
 1                      연극 <그을린사랑> 2018-12-03 2018-12-16    350   1435
 2                    2018 김동률 콘서트 2018-12-03 2018-12-09  33000  31525
 3                 최현우 <THE BRAIN> 2018-12-04 2018-12-31  26460  18604
 3                 최현우 <THE BRAIN> 2018-12-04 2018-12-31  26460  18604
 ..                            ...        ...        ...    ...    ...
 233  Crush Concert 2019 'happier' 2019-12-26 2019-12-31  12000  14798
 233  Crush Concert 2019 'happier' 2019-12-26 2019-12-31  12000  14798
 234                2019 이진아 연말콘서트 2019-12-27 2019-12-29    700    726
 239                    태연 4번째 콘서트 2020-01-13 2020-01-19  10000  12251
 240                 2020 여자친구 팬미팅 2020-01-17 2020-01-19   2500   2554

 [173 rows x 5 columns])

##sub_mid

In [ ]:
find_event(sub_mid_up3, 22.0)

(           date            time  stdres
 839  2020-01-26  stdresid_02~03    22.0,
 Empty DataFrame
 Columns: []
 Index: [])

In [ ]:
find_event(sub_mid_up3, 15.0)

(         date            time  stdres
 5  2020-01-25  stdresid_01~02    15.0,
 Empty DataFrame
 Columns: []
 Index: [])

In [ ]:
find_event(sub_mid_up3, 12.0)

(            date            time  stdres
 2481  2022-04-14  stdresid_04~05    12.0
 2090  2021-03-19  stdresid_04~05    12.0
 1710  2020-03-04  stdresid_04~05    12.0
 1722  2020-03-16  stdresid_04~05    12.0
 1824  2020-06-26  stdresid_04~05    12.0,
                     n         sd         ed     rn    en
 256  핸드볼보조경기장 6월 대관신청 2020-06-01 2020-06-30    425   425
 258         대한민국 동행세일 2020-06-23 2020-07-04   1200  1200
 364    2022 싱어게인2 콘서트 2022-04-11 2022-04-17  12000  4351
 365      2022 성시경 팬미팅 2022-04-14 2022-04-16   4200  2608)

In [ ]:
find_event(sub_mid_up3, 11.0)

(            date            time  stdres
 1324  2021-05-25  stdresid_02~03    11.0
 1640  2022-04-06  stdresid_02~03    11.0,
                        n         sd         ed    rn    en
 361           YG 트레저 콘서트 2022-04-04 2022-04-10  6000  4298
 362  2022 Theatre 이문세 서울 2022-04-06 2022-04-10  2200  2208)

In [ ]:
find_event(sub_mid_up3, 10.0)

(             date            time  stdres
 16660  2020-01-20  stdresid_22~23    10.0,
 Empty DataFrame
 Columns: []
 Index: [])

In [ ]:
find_event(sub_mid_up3, 9.0)

(             date            time  stdres
 17493  2020-01-20  stdresid_23~24     9.0
 7698   2020-08-08  stdresid_11~12     9.0
 14994  2020-01-20  stdresid_20~21     9.0
 15827  2020-01-20  stdresid_21~22     9.0,
                       n         sd         ed     rn   en
 263  뮤지컬 <설민석의 한국사 대모험> 2020-07-13 2020-08-31  55000    0
 267    아이스크림왕국의 뽀로로와친구들 2020-07-29 2020-08-30  38000    0
 269         2020 서울아트마켓 2020-08-07 2020-08-14    200  200)

In [ ]:
find_event(sub_mid_up3, 8.0)

(            date            time  stdres
 6865  2020-08-08  stdresid_10~11     8.0
 1     2020-01-21  stdresid_01~02     8.0,
                       n         sd         ed     rn   en
 263  뮤지컬 <설민석의 한국사 대모험> 2020-07-13 2020-08-31  55000    0
 267    아이스크림왕국의 뽀로로와친구들 2020-07-29 2020-08-30  38000    0
 269         2020 서울아트마켓 2020-08-07 2020-08-14    200  200)

In [ ]:
find_event(sub_mid_up3, 7.0)

(             date            time  stdres
 5831   2020-01-20  stdresid_09~10     7.0
 3332   2020-01-20  stdresid_06~07     7.0
 13186  2021-12-11  stdresid_17~18     7.0
 14161  2020-01-20  stdresid_19~20     7.0
 9140   2022-04-09  stdresid_12~13     7.0,
                           n         sd         ed     rn    en
 333             쇼미더머니10페스티벌 2021-12-07 2021-12-12  11000  8227
 334       2021 WOODZ 단독 콘서트 2021-12-07 2021-12-12   4400  2229
 335  (가제) 2021 윤하 연말 단독 콘서트 2021-12-08 2021-12-13   5200  5767
 361              YG 트레저 콘서트 2022-04-04 2022-04-10   6000  4298
 362     2022 Theatre 이문세 서울 2022-04-06 2022-04-10   2200  2208
 363            아스트로 아로하 팬미팅 2022-04-07 2022-04-09   2500  3199)

In [ ]:
find_event(sub_mid_up3, 6.0)

(             date            time  stdres
 8307   2022-04-09  stdresid_11~12     6.0
 8860   2021-07-03  stdresid_12~13     6.0
 11660  2022-04-30  stdresid_15~16     6.0
 13328  2020-01-20  stdresid_18~19     6.0
 8330   2020-01-20  stdresid_12~13     6.0
 67     2020-03-27  stdresid_01~02     6.0
 11961  2020-11-14  stdresid_16~17     6.0
 10806  2022-04-09  stdresid_14~15     6.0
 6872   2020-08-15  stdresid_10~11     6.0
 6664   2020-01-20  stdresid_10~11     6.0
 6      2020-01-26  stdresid_01~02     6.0
 4998   2020-01-20  stdresid_08~09     6.0
 2499   2020-01-20  stdresid_05~06     6.0
 9028   2021-12-18  stdresid_12~13     6.0
 10827  2022-04-30  stdresid_14~15     6.0,
                                n         sd         ed     rn     en
 247          트롯 Show 뮤지컬 <트롯 연가> 2020-03-23 2020-05-11  49500      0
 263           뮤지컬 <설민석의 한국사 대모험> 2020-07-13 2020-08-31  55000      0
 267             아이스크림왕국의 뽀로로와친구들 2020-07-29 2020-08-30  38000      0
 286    내일은 <미스터트롯> TOP6 콘서트 - 서울 2020-11-09 2020-11-22   5500  20284
 287         [ 2020 Theatre 이문세 ] 2020-11-10 2020-11-15   3000   3500
 307  내일은 미스터트롯 TOP6 굿바이 콘서트 - 서울 2021-06-29 2021-07-04  29500  23617
 308   싱어게인 TOP10 전국투어 콘서트 - 서울앵콜 2021-06-30 2021-07-05  10000   8479
 336           2021 나훈아 송년콘서트(가제) 2021-12-13 2021-12-19  15000  19059
 337              2021 정승환 연말 콘서트 2021-12-14 2021-12-19   6900   5217
 338                2021 에픽하이 콘서트 2021-12-15 2021-12-19   6000   4950
 361                   YG 트레저 콘서트 2022-04-04 2022-04-10   6000   4298
 362          2022 Theatre 이문세 서울 2022-04-06 2022-04-10   2200   2208
 363                 아스트로 아로하 팬미팅 2022-04-07 2022-04-09   2500   3199
 368     2022 WINNER CONCERT (가제) 2022-04-25 2022-05-01   6000   5497
 369               2022 몬스타엑스 콘서트 2022-04-26 2022-05-02   9900  10533
 370     WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-01   9000   3720
 371     WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-02   9000   3720)

In [ ]:
find_event(sub_mid_up3, 5.0)

(             date            time  stdres
 7497   2020-01-20  stdresid_11~12     5.0
 29     2020-02-18  stdresid_01~02     5.0
 9996   2020-01-20  stdresid_14~15     5.0
 9861   2021-12-18  stdresid_13~14     5.0
 4165   2020-01-20  stdresid_07~08     5.0
 11639  2022-04-09  stdresid_15~16     5.0
 12495  2020-01-20  stdresid_17~18     5.0
 17504  2020-01-31  stdresid_23~24     5.0
 11662  2020-01-20  stdresid_16~17     5.0
 18271  2022-03-08  stdresid_23~24     5.0
 8027   2021-07-03  stdresid_11~12     5.0
 10829  2020-01-20  stdresid_15~16     5.0
 14179  2020-02-07  stdresid_19~20     5.0
 9163   2020-01-20  stdresid_13~14     5.0
 13193  2021-12-18  stdresid_17~18     5.0,
                                n         sd         ed     rn     en
 241                2020 에이핑크 콘서트 2020-01-30 2020-02-03   5000   3896
 242           2020 BUMZU CONCERT 2020-01-31 2020-02-02   1200    802
 243               2020 ATEEZ 콘서트 2020-02-05 2020-02-10   6000   3820
 244               2020 성규 단독 콘서트 2020-02-05 2020-02-09   7518   7568
 245          이승환 fall to fly 콘서트 2020-02-06 2020-02-09   2368   1673
 307  내일은 미스터트롯 TOP6 굿바이 콘서트 - 서울 2021-06-29 2021-07-04  29500  23617
 308   싱어게인 TOP10 전국투어 콘서트 - 서울앵콜 2021-06-30 2021-07-05  10000   8479
 336           2021 나훈아 송년콘서트(가제) 2021-12-13 2021-12-19  15000  19059
 337              2021 정승환 연말 콘서트 2021-12-14 2021-12-19   6900   5217
 338                2021 에픽하이 콘서트 2021-12-15 2021-12-19   6000   4950
 356                    제20대대통령선거 2022-03-05 2022-03-10    800   1030
 361                   YG 트레저 콘서트 2022-04-04 2022-04-10   6000   4298
 362          2022 Theatre 이문세 서울 2022-04-06 2022-04-10   2200   2208
 363                 아스트로 아로하 팬미팅 2022-04-07 2022-04-09   2500   3199)

In [ ]:
find_event(sub_mid_up3, 4.0)

(             date            time  stdres
 13024  2021-07-02  stdresid_17~18     4.0
 14025  2021-12-17  stdresid_18~19     4.0
 10626  2021-10-11  stdresid_14~15     4.0
 10617  2021-10-02  stdresid_14~15     4.0
 11521  2021-12-12  stdresid_15~16     4.0
 17012  2021-01-06  stdresid_22~23     4.0
 9995   2022-05-01  stdresid_13~14     4.0
 16179  2021-01-06  stdresid_21~22     4.0
 9994   2022-04-30  stdresid_13~14     4.0
 12353  2021-12-11  stdresid_16~17     4.0
 5842   2020-01-31  stdresid_09~10     4.0
 9973   2022-04-09  stdresid_13~14     4.0
 11862  2020-08-07  stdresid_16~17     4.0
 3      2020-01-23  stdresid_01~02     4.0
 12514  2020-02-08  stdresid_17~18     4.0
 12472  2022-04-09  stdresid_16~17     4.0
 12792  2020-11-12  stdresid_17~18     4.0
 11459  2021-10-11  stdresid_15~16     4.0
 28     2020-02-17  stdresid_01~02     4.0
 9181   2020-02-07  stdresid_13~14     4.0
 11659  2022-04-29  stdresid_15~16     4.0
 9693   2021-07-03  stdresid_13~14     4.0
 13346  2020-02-07  stdresid_18~19     4.0
 9665   2021-06-05  stdresid_13~14     4.0
 10519  2021-06-26  stdresid_14~15     4.0
 8328   2022-04-30  stdresid_11~12     4.0
 9147   2022-04-16  stdresid_12~13     4.0
 5009   2020-01-31  stdresid_08~09     4.0
 8153   2021-11-06  stdresid_11~12     4.0
 11681  2020-02-08  stdresid_16~17     4.0
 13626  2020-11-13  stdresid_18~19     4.0
 12695  2020-08-07  stdresid_17~18     4.0,
                                          n         sd         ed     rn     en
 241                          2020 에이핑크 콘서트 2020-01-30 2020-02-03   5000   3896
 242                     2020 BUMZU CONCERT 2020-01-31 2020-02-02   1200    802
 243                         2020 ATEEZ 콘서트 2020-02-05 2020-02-10   6000   3820
 243                         2020 ATEEZ 콘서트 2020-02-05 2020-02-10   6000   3820
 244                         2020 성규 단독 콘서트 2020-02-05 2020-02-09   7518   7568
 244                         2020 성규 단독 콘서트 2020-02-05 2020-02-09   7518   7568
 245                    이승환 fall to fly 콘서트 2020-02-06 2020-02-09   2368   1673
 245                    이승환 fall to fly 콘서트 2020-02-06 2020-02-09   2368   1673
 246                   2020잔나비 전국투어 콘서트 -서울 2020-02-12 2020-02-17   5600   5765
 263                     뮤지컬 <설민석의 한국사 대모험> 2020-07-13 2020-08-31  55000      0
 267                       아이스크림왕국의 뽀로로와친구들 2020-07-29 2020-08-30  38000      0
 269                            2020 서울아트마켓 2020-08-07 2020-08-14    200    200
 286              내일은 <미스터트롯> TOP6 콘서트 - 서울 2020-11-09 2020-11-22   5500  20284
 286              내일은 <미스터트롯> TOP6 콘서트 - 서울 2020-11-09 2020-11-22   5500  20284
 287                   [ 2020 Theatre 이문세 ] 2020-11-10 2020-11-15   3000   3500
 287                   [ 2020 Theatre 이문세 ] 2020-11-10 2020-11-15   3000   3500
 299                      팬텀싱어 올스타전 갈라 콘체르토 2021-05-26 2021-06-07  16074  17517
 304                        뷰티풀 민트 라이프 2021 2021-06-21 2021-06-27   6000   7418
 305                           더 포레스텔라 2021 2021-06-25 2021-06-28   3000   3702
 306                        뷰티풀 민트 라이프 2021 2021-06-25 2021-06-28   9900    240
 307            내일은 미스터트롯 TOP6 굿바이 콘서트 - 서울 2021-06-29 2021-07-04  29500  23617
 307            내일은 미스터트롯 TOP6 굿바이 콘서트 - 서울 2021-06-29 2021-07-04  29500  23617
 308             싱어게인 TOP10 전국투어 콘서트 - 서울앵콜 2021-06-30 2021-07-05  10000   8479
 308             싱어게인 TOP10 전국투어 콘서트 - 서울앵콜 2021-06-30 2021-07-05  10000   8479
 322  TREASURE 2021 PRIVATE STAGE [TEU-DAY] 2021-09-27 2021-10-03   1999   1425
 325               2021 폴킴 전국투어 콘서트-서울_기획공연 2021-11-03 2021-11-07   3628   4470
 333                            쇼미더머니10페스티벌 2021-12-07 2021-12-12  11000   8227
 333                            쇼미더머니10페스티벌 2021-12-07 2021-12-12  11000   8227
 334                      2021 WOODZ 단독 콘서트 2021-12-07 2021-12-12   4400   2229
 334                      2021 WOODZ 단독 콘서트 2021-12-07 2021-12-12   4400   2229
 335                 (가제) 2021 윤하 연말 단독 콘서트 2021-12-08 2021-12-13   5200   5767
 335                 (가제) 2021 윤하 연말 단독 콘서트 2021-12-08 2021-12-13   5200   5767
 336                     2021 나훈아 송년콘서트(가제) 2021-12-13 2021-12-19  15000  19059
 337                        2021 정승환 연말 콘서트 2021-12-14 2021-12-19   6900   5217
 338                          2021 에픽하이 콘서트 2021-12-15 2021-12-19   6000   4950
 361                             YG 트레저 콘서트 2022-04-04 2022-04-10   6000   4298
 362                    2022 Theatre 이문세 서울 2022-04-06 2022-04-10   2200   2208
 363                           아스트로 아로하 팬미팅 2022-04-07 2022-04-09   2500   3199
 364                         2022 싱어게인2 콘서트 2022-04-11 2022-04-17  12000   4351
 365                           2022 성시경 팬미팅 2022-04-14 2022-04-16   4200   2608
 366                               하성운 쇼케이스 2022-04-15 2022-04-16    100    100
 368               2022 WINNER CONCERT (가제) 2022-04-25 2022-05-01   6000   5497
 368               2022 WINNER CONCERT (가제) 2022-04-25 2022-05-01   6000   5497
 368               2022 WINNER CONCERT (가제) 2022-04-25 2022-05-01   6000   5497
 369                         2022 몬스타엑스 콘서트 2022-04-26 2022-05-02   9900  10533
 369                         2022 몬스타엑스 콘서트 2022-04-26 2022-05-02   9900  10533
 369                         2022 몬스타엑스 콘서트 2022-04-26 2022-05-02   9900  10533
 370               WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-01   9000   3720
 370               WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-01   9000   3720
 370               WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-01   9000   3720
 371               WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-02   9000   3720
 371               WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-02   9000   3720
 371               WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-02   9000   3720)

In [ ]:
find_event(sub_mid_up3, 3.0)

(             date            time  stdres
 7760   2020-10-09  stdresid_11~12     3.0
 10016  2020-02-09  stdresid_14~15     3.0
 6576   2022-02-03  stdresid_09~10     3.0
 7320   2021-11-06  stdresid_10~11     3.0
 14026  2021-12-18  stdresid_18~19     3.0
 ...           ...             ...     ...
 13325  2022-04-29  stdresid_17~18     3.0
 12318  2021-11-06  stdresid_16~17     3.0
 13857  2021-07-02  stdresid_18~19     3.0
 10442  2021-04-10  stdresid_14~15     3.0
 13435  2020-05-06  stdresid_18~19     3.0

 [69 rows x 3 columns],
                             n         sd         ed    rn    en
 241             2020 에이핑크 콘서트 2020-01-30 2020-02-03  5000  3896
 241             2020 에이핑크 콘서트 2020-01-30 2020-02-03  5000  3896
 241             2020 에이핑크 콘서트 2020-01-30 2020-02-03  5000  3896
 241             2020 에이핑크 콘서트 2020-01-30 2020-02-03  5000  3896
 242        2020 BUMZU CONCERT 2020-01-31 2020-02-02  1200   802
 ..                        ...        ...        ...   ...   ...
 370  WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-01  9000  3720
 370  WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-01  9000  3720
 371  WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-02  9000  3720
 371  WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-02  9000  3720
 371  WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-02  9000  3720

 [71 rows x 5 columns])

##sub_after

In [ ]:
find_event(sub_after_up3, 17.0)

(           date            time  stdres
 577  2022-12-31  stdresid_02~03    17.0,
                            n         sd         ed     rn     en
 447  12월 SK핸드볼경기장 보조경기장 사용신청 2022-12-06 2022-12-31    920    920
 455    2022 정승환 연말콘서트 안녕, 겨울 2022-12-26 2023-01-01   5400   6987
 456          2022 잔나비 콘서트 앵콜 2022-12-26 2023-01-01   6000   6720
 457   2022 BTOB 비투비 10주년 콘서트 2022-12-26 2023-01-01  37050  23522)

In [ ]:
find_event(sub_after_up3, 15.0)

(           date            time  stdres
 903  2022-12-23  stdresid_04~05    15.0,
                                n         sd         ed     rn     en
 447      12월 SK핸드볼경기장 보조경기장 사용신청 2022-12-06 2022-12-31    920    920
 452                 크러쉬 콘서트 2022 2022-12-19 2022-12-25  17900  14665
 453               싸이 올나잇스탠드 2022 2022-12-19 2022-12-25  36600  34240
 454  2022 박진영 단독공연 'GROOVE BACK' 2022-12-19 2022-12-25  12000   6188)

In [ ]:
find_event(sub_after_up3, 13.0)

(            date            time  stdres
 1991  2023-03-19  stdresid_07~08    13.0,
                                              n         sd         ed     rn  \
 476  해리 스타일스 내한공연 (HARRY STYLES LIVE IN SEOUL) 2023-03-13 2023-03-20  14000
 477                         2023 서울마라톤 겸 동아마라톤 2023-03-18 2023-03-19  10000

         en
 476  15100
 477  10000  )

In [ ]:
find_event(sub_after_up3, 12.0)

(           date            time  stdres
 243  2022-12-31  stdresid_01~02    12.0,
                            n         sd         ed     rn     en
 447  12월 SK핸드볼경기장 보조경기장 사용신청 2022-12-06 2022-12-31    920    920
 455    2022 정승환 연말콘서트 안녕, 겨울 2022-12-26 2023-01-01   5400   6987
 456          2022 잔나비 콘서트 앵콜 2022-12-26 2023-01-01   6000   6720
 457   2022 BTOB 비투비 10주년 콘서트 2022-12-26 2023-01-01  37050  23522)

In [ ]:
find_event(sub_after_up3, 10.0)

(            date            time  stdres
 6914  2022-12-22  stdresid_22~23    10.0
 6580  2022-12-22  stdresid_21~22    10.0,
                                n         sd         ed     rn     en
 447      12월 SK핸드볼경기장 보조경기장 사용신청 2022-12-06 2022-12-31    920    920
 452                 크러쉬 콘서트 2022 2022-12-19 2022-12-25  17900  14665
 453               싸이 올나잇스탠드 2022 2022-12-19 2022-12-25  36600  34240
 454  2022 박진영 단독공연 'GROOVE BACK' 2022-12-19 2022-12-25  12000   6188)

In [ ]:
find_event(sub_after_up3, 9.0)

(Empty DataFrame
 Columns: [date, time, stdres]
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [])

In [ ]:
find_event(sub_after_up3, 8.0)

(            date            time  stdres
 7248  2022-12-22  stdresid_23~24     8.0,
                                n         sd         ed     rn     en
 447      12월 SK핸드볼경기장 보조경기장 사용신청 2022-12-06 2022-12-31    920    920
 452                 크러쉬 콘서트 2022 2022-12-19 2022-12-25  17900  14665
 453               싸이 올나잇스탠드 2022 2022-12-19 2022-12-25  36600  34240
 454  2022 박진영 단독공연 'GROOVE BACK' 2022-12-19 2022-12-25  12000   6188)

In [ ]:
find_event(sub_after_up3, 7.0)

(            date            time  stdres
 6000  2023-03-20  stdresid_19~20     7.0
 6012  2022-05-02  stdresid_20~21     7.0
 787   2022-08-29  stdresid_04~05     7.0,
                                              n         sd         ed     rn  \
 369                             2022 몬스타엑스 콘서트 2022-04-26 2022-05-02   9900
 371                   WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-02   9000
 399                      2022 RESFFCT Festival 2022-08-22 2022-08-29  20000
 401                      2022 RESFFCT Festival 2022-08-23 2022-08-29  20000
 402                             2022 몬스타엑스 콘서트 2022-08-29 2022-09-04  12000
 476  해리 스타일스 내한공연 (HARRY STYLES LIVE IN SEOUL) 2023-03-13 2023-03-20  14000

         en
 369  10533
 371   3720
 399  11120
 401  11120
 402  13995
 476  15100  )

In [ ]:
find_event(sub_after_up3, 6.0)

(            date            time  stdres
 2325  2023-03-19  stdresid_08~09     6.0
 1336  2022-05-02  stdresid_06~07     6.0
 3144  2022-09-17  stdresid_11~12     6.0
 2712  2022-06-11  stdresid_10~11     6.0
 4828  2022-10-01  stdresid_16~17     6.0
 2810  2022-09-17  stdresid_10~11     6.0
 7249  2022-12-23  stdresid_23~24     6.0
 1002  2022-05-02  stdresid_05~06     6.0,
                                                      n         sd         ed  \
 369                                     2022 몬스타엑스 콘서트 2022-04-26 2022-05-02
 371                           WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-02
 382                                    2022 아시아펜싱선수권대회 2022-06-07 2022-06-16
 383                                      2022 우주소녀 콘서트 2022-06-09 2022-06-12
 409  Listen Again Music Festival (JTBC 11th anniver... 2022-09-12 2022-09-18
 410  Listen Again Music Festival (JTBC 11th anniver... 2022-09-13 2022-09-18
 411                         2022 Stray Kids 단독콘서트 (가제) 2022-09-13 2022-09-18
 412                                2022 ENHYPEN 단독 콘서트 2022-09-13 2022-09-19
 413                                2022 제6회 대한민국 청년의 날 2022-09-15 2022-09-17
 414                        2022 제11회 심장병 예방 한걸음 더 걷기대회 2022-09-16 2022-09-17
 415                                 2022 김호중 콘서트 아리스트라 2022-09-26 2022-10-02
 416                                         이문세의 숲속음악회 2022-09-27 2022-10-02
 417                                         이문세의 숲속음악회 2022-09-27 2022-10-03
 418                         GREAT Seoul INVASION 투어-서울 2022-09-28 2022-10-02
 447                            12월 SK핸드볼경기장 보조경기장 사용신청 2022-12-06 2022-12-31
 452                                       크러쉬 콘서트 2022 2022-12-19 2022-12-25
 453                                     싸이 올나잇스탠드 2022 2022-12-19 2022-12-25
 454                        2022 박진영 단독공연 'GROOVE BACK' 2022-12-19 2022-12-25
 476          해리 스타일스 내한공연 (HARRY STYLES LIVE IN SEOUL) 2023-03-13 2023-03-20
 477                                 2023 서울마라톤 겸 동아마라톤 2023-03-18 2023-03-19

         rn     en
 369   9900  10533
 371   9000   3720
 382    300   2450
 383   6000   3708
 409  24000   5882
 410     23   5882
 411  18000  17043
 412   8000   8109
 413   2000   4000
 414    700    700
 415  30000  25034
 416  20000  17791
 417  20000  17791
 418   6000   1537
 447    920    920
 452  17900  14665
 453  36600  34240
 454  12000   6188
 476  14000  15100
 477  10000  10000  )

In [ ]:
find_event(sub_after_up3, 5.0)

(            date            time  stdres
 228   2022-12-16  stdresid_01~02     5.0
 3597  2023-01-14  stdresid_12~13     5.0
 3812  2022-09-17  stdresid_13~14     5.0
 4146  2022-09-17  stdresid_14~15     5.0
 5332  2023-03-20  stdresid_17~18     5.0
 3478  2022-09-17  stdresid_12~13     5.0
 1580  2023-01-01  stdresid_06~07     5.0
 4814  2022-09-17  stdresid_16~17     5.0
 6246  2022-12-22  stdresid_20~21     5.0
 6346  2022-05-02  stdresid_21~22     5.0
 5666  2023-03-20  stdresid_18~19     5.0,
                                                      n         sd         ed  \
 369                                     2022 몬스타엑스 콘서트 2022-04-26 2022-05-02
 371                           WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-02
 409  Listen Again Music Festival (JTBC 11th anniver... 2022-09-12 2022-09-18
 410  Listen Again Music Festival (JTBC 11th anniver... 2022-09-13 2022-09-18
 411                         2022 Stray Kids 단독콘서트 (가제) 2022-09-13 2022-09-18
 412                                2022 ENHYPEN 단독 콘서트 2022-09-13 2022-09-19
 413                                2022 제6회 대한민국 청년의 날 2022-09-15 2022-09-17
 414                        2022 제11회 심장병 예방 한걸음 더 걷기대회 2022-09-16 2022-09-17
 447                            12월 SK핸드볼경기장 보조경기장 사용신청 2022-12-06 2022-12-31
 447                            12월 SK핸드볼경기장 보조경기장 사용신청 2022-12-06 2022-12-31
 449                 2022 나훈아 55주년기념 특별기획 Dream55 송년콘서트 2022-12-12 2022-12-18
 450                                    2022 십센치 단독 콘서트 2022-12-12 2022-12-18
 451                                 2022 엑스디너리히어로즈 콘서트 2022-12-12 2022-12-18
 452                                       크러쉬 콘서트 2022 2022-12-19 2022-12-25
 453                                     싸이 올나잇스탠드 2022 2022-12-19 2022-12-25
 454                        2022 박진영 단독공연 'GROOVE BACK' 2022-12-19 2022-12-25
 455                              2022 정승환 연말콘서트 안녕, 겨울 2022-12-26 2023-01-01
 456                                    2022 잔나비 콘서트 앵콜 2022-12-26 2023-01-01
 457                             2022 BTOB 비투비 10주년 콘서트 2022-12-26 2023-01-01
 460                                   2023 DKZ FAN-CON 2023-01-11 2023-01-15
 461         쇼미더머니11 콘서트 (Show Me The Money 11 Concert) 2023-01-12 2023-01-15
 476          해리 스타일스 내한공연 (HARRY STYLES LIVE IN SEOUL) 2023-03-13 2023-03-20

         rn     en
 369   9900  10533
 371   9000   3720
 409  24000   5882
 410     23   5882
 411  18000  17043
 412   8000   8109
 413   2000   4000
 414    700    700
 447    920    920
 447    920    920
 449  22572  18464
 450  10000  12231
 451   3303   3303
 452  17900  14665
 453  36600  34240
 454  12000   6188
 455   5400   6987
 456   6000   6720
 457  37050  23522
 460   8000   4849
 461   6400   3633
 476  14000  15100  )

In [ ]:
find_event(sub_after_up3, 4.0)

(            date            time  stdres
 2004  2022-05-02  stdresid_08~09     4.0
 3046  2022-06-11  stdresid_11~12     4.0
 5232  2022-12-10  stdresid_17~18     4.0
 5162  2022-10-01  stdresid_17~18     4.0
 7014  2022-05-02  stdresid_23~24     4.0
 2697  2022-05-27  stdresid_10~11     4.0
 3167  2022-10-10  stdresid_11~12     4.0
 3158  2022-10-01  stdresid_11~12     4.0
 3352  2022-05-14  stdresid_12~13     4.0
 3686  2022-05-14  stdresid_13~14     4.0
 6680  2022-05-02  stdresid_22~23     4.0
 4466  2022-09-03  stdresid_15~16     4.0
 3499  2022-10-08  stdresid_12~13     4.0
 4480  2022-09-17  stdresid_15~16     4.0
 5678  2022-05-02  stdresid_19~20     4.0
 3333  2023-03-25  stdresid_11~12     4.0
 4494  2022-10-01  stdresid_15~16     4.0
 4899  2022-12-11  stdresid_16~17     4.0,
                                                      n         sd         ed  \
 369                                     2022 몬스타엑스 콘서트 2022-04-26 2022-05-02
 371                           WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-02
 373                                    뷰티풀 민트 라이프 2022 2022-05-09 2022-05-16
 374                                    뷰티풀 민트 라이프 2022 2022-05-09 2022-05-15
 375                        (가제) 2022 볼빨간사춘기 상반기 단독 콘서트 2022-05-12 2022-05-15
 376                            제17회 회장배 전국 댄스스포츠 선수권대회 2022-05-14 2022-05-15
 377            제15회 서울재즈페스티벌(Seoul Jazz Festival) 2022 2022-05-23 2022-05-29
 382                                    2022 아시아펜싱선수권대회 2022-06-07 2022-06-16
 383                                      2022 우주소녀 콘서트 2022-06-09 2022-06-12
 402                                     2022 몬스타엑스 콘서트 2022-08-29 2022-09-04
 403                               JTBC <뉴페스타> FESTIVAL 2022-08-30 2022-09-04
 404                                           소녀시대 팬미팅 2022-08-30 2022-09-03
 405                               JTBC <뉴페스타> FESTIVAL 2022-08-30 2022-09-04
 406                               JTBC <뉴페스타> FESTIVAL 2022-08-30 2022-09-04
 407                     2022 이승환 당신이 원하는 바로 그 콘서트 앵콜공연 2022-09-01 2022-09-04
 409  Listen Again Music Festival (JTBC 11th anniver... 2022-09-12 2022-09-18
 410  Listen Again Music Festival (JTBC 11th anniver... 2022-09-13 2022-09-18
 411                         2022 Stray Kids 단독콘서트 (가제) 2022-09-13 2022-09-18
 412                                2022 ENHYPEN 단독 콘서트 2022-09-13 2022-09-19
 413                                2022 제6회 대한민국 청년의 날 2022-09-15 2022-09-17
 414                        2022 제11회 심장병 예방 한걸음 더 걷기대회 2022-09-16 2022-09-17
 415                                 2022 김호중 콘서트 아리스트라 2022-09-26 2022-10-02
 416                                         이문세의 숲속음악회 2022-09-27 2022-10-02
 417                                         이문세의 숲속음악회 2022-09-27 2022-10-03
 418                         GREAT Seoul INVASION 투어-서울 2022-09-28 2022-10-02
 419    SLOW LIFE SLOW LIVE  2022(슬로우 라이프 슬로우 라이브 2022) 2022-10-04 2022-10-11
 419    SLOW LIFE SLOW LIVE  2022(슬로우 라이프 슬로우 라이브 2022) 2022-10-04 2022-10-11
 420    SLOW LIFE SLOW LIVE  2022(슬로우 라이프 슬로우 라이브 2022) 2022-10-06 2022-10-11
 420    SLOW LIFE SLOW LIVE  2022(슬로우 라이프 슬로우 라이브 2022) 2022-10-06 2022-10-11
 421                                   2022 케플러 첫번째 팬미팅 2022-10-06 2022-10-10
 421                                   2022 케플러 첫번째 팬미팅 2022-10-06 2022-10-10
 422                            BLACKPINK 2022 콘서트 (가제) 2022-10-10 2022-10-17
 445                             2022 지오디(g.o.d) 단독 콘서트 2022-12-05 2022-12-11
 445                             2022 지오디(g.o.d) 단독 콘서트 2022-12-05 2022-12-11
 446                                    2022 멜로망스 연말콘서트 2022-12-05 2022-12-11
 446                                    2022 멜로망스 연말콘서트 2022-12-05 2022-12-11
 447                            12월 SK핸드볼경기장 보조경기장 사용신청 2022-12-06 2022-12-31
 447                            12월 SK핸드볼경기장 보조경기장 사용신청 2022-12-06 2022-12-31
 448                            (가제) 2022 자우림 연말 단독 콘서트 2022-12-06 2022-12-11
 448                            (가제) 2022 자우림 연말 단독 콘서트 2022-12-06 2022-12-11
 478                                              마치,호영 2023-03-25 2023-03-26

         rn     en
 369   9900  10533
 371   9000   3720
 373  22500  17829
 374   5500  17829
 375   5400   5310
 376    300    189
 377  30000  27935
 382    300   2450
 383   6000   3708
 402  12000  13995
 403  20000   5868
 404   8000   7966
 405  20000   5868
 406  20000   5868
 407   2000   2140
 409  24000   5882
 410     23   5882
 411  18000  17043
 412   8000   8109
 413   2000   4000
 414    700    700
 415  30000  25034
 416  20000  17791
 417  20000  17791
 418   6000   1537
 419  30000  28809
 419  30000  28809
 420     45  28809
 420     45  28809
 421      2   1356
 421      2   1356
 422  14000  19816
 445  36000  30090
 445  36000  30090
 446   7500   6760
 446   7500   6760
 447    920    920
 447    920    920
 448   9600   7860
 448   9600   7860
 478   1100    992  )

In [ ]:
find_event(sub_after_up3, 3.0)

(            date            time  stdres
 1237  2022-12-23  stdresid_05~06     3.0
 4565  2022-12-11  stdresid_15~16     3.0
 5446  2022-08-12  stdresid_18~19     3.0
 5454  2022-08-20  stdresid_18~19     3.0
 4001  2023-03-25  stdresid_13~14     3.0
 270   2023-01-27  stdresid_01~02     3.0
 4656  2023-03-12  stdresid_15~16     3.0
 4160  2022-10-01  stdresid_14~15     3.0
 5112  2022-08-12  stdresid_17~18     3.0
 2015  2022-05-13  stdresid_08~09     3.0
 4800  2022-09-03  stdresid_16~17     3.0
 5486  2022-09-21  stdresid_18~19     3.0
 4150  2022-09-21  stdresid_14~15     3.0
 5615  2023-01-28  stdresid_18~19     3.0
 4968  2023-02-18  stdresid_16~17     3.0
 6339  2023-03-25  stdresid_20~21     3.0
 5552  2022-11-26  stdresid_18~19     3.0
 3903  2022-12-17  stdresid_13~14     3.0
 2672  2022-05-02  stdresid_10~11     3.0
 5148  2022-09-17  stdresid_17~18     3.0
 5559  2022-12-03  stdresid_18~19     3.0
 6581  2022-12-23  stdresid_21~22     3.0
 2984  2023-03-10  stdresid_10~11     3.0
 3816  2022-09-21  stdresid_13~14     3.0
 60    2022-07-01  stdresid_01~02     3.0
 6011  2023-03-31  stdresid_19~20     3.0
 98    2022-08-08  stdresid_01~02     3.0
 5226  2022-12-04  stdresid_17~18     3.0
 5980  2023-02-28  stdresid_19~20     3.0
 3667  2023-03-25  stdresid_12~13     3.0
 1670  2022-05-02  stdresid_07~08     3.0
 5913  2022-12-23  stdresid_19~20     3.0
 5906  2022-12-16  stdresid_19~20     3.0
 3031  2022-05-27  stdresid_11~12     3.0
 3728  2022-06-25  stdresid_13~14     3.0
 5322  2023-03-10  stdresid_17~18     3.0
 5344  2022-05-02  stdresid_18~19     3.0
 4169  2022-10-10  stdresid_14~15     3.0
 4132  2022-09-03  stdresid_14~15     3.0
 136   2022-09-15  stdresid_01~02     3.0,
                                n         sd         ed     rn     en
 369               2022 몬스타엑스 콘서트 2022-04-26 2022-05-02   9900  10533
 371     WONDERLAND FESTIVAL 2022 2022-04-27 2022-05-02   9000   3720
 373              뷰티풀 민트 라이프 2022 2022-05-09 2022-05-16  22500  17829
 374              뷰티풀 민트 라이프 2022 2022-05-09 2022-05-15   5500  17829
 375  (가제) 2022 볼빨간사춘기 상반기 단독 콘서트 2022-05-12 2022-05-15   5400   5310
 ..                           ...        ...        ...    ...    ...
 474                       BoA콘서트 2023-03-06 2023-03-12   6000   4504
 474                       BoA콘서트 2023-03-06 2023-03-12   6000   4504
 475               2023 윤하 앵콜 콘서트 2023-03-08 2023-03-12   8000   9493
 475               2023 윤하 앵콜 콘서트 2023-03-08 2023-03-12   8000   9493
 478                        마치,호영 2023-03-25 2023-03-26   1100    992

 [80 rows x 5 columns])

#행사 개수 세서 데이터프레임 만들기

In [ ]:
#빈 데이터프레임 만들기
date_range = pd.date_range(start='2018-12-01', end='2020-01-19', freq='D')
event_num_df1 = pd.DataFrame(index=date_range)
hours = list(range(24))
for hour in hours:
    event_num_df1[f'{hour}시'] = None

date_range = pd.date_range(start='2020-01-20', end='2022-05-01', freq='D')
event_num_df2 = pd.DataFrame(index=date_range)
hours = list(range(24))
for hour in hours:
    event_num_df2[f'{hour}시'] = None

date_range = pd.date_range(start='2022-05-02', end='2023-03-31', freq='D')
event_num_df3 = pd.DataFrame(index=date_range)
hours = list(range(24))
for hour in hours:
    event_num_df3[f'{hour}시'] = None

In [ ]:
event_num_df1

,0시,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
2018-12-01,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2018-12-02,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2018-12-03,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2018-12-04,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2018-12-05,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-15,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2020-01-16,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2020-01-17,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2020-01-18,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2020-01-19,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
sub_before_up3

            date            time  stdres
1217  2019-12-23  stdresid_04~05     3.0
6619  2019-12-30  stdresid_17~18     3.0
5997  2019-06-06  stdresid_16~17     3.0
4444  2019-09-21  stdresid_12~13     3.0
7285  2019-07-19  stdresid_19~20     3.0
...          ...             ...     ...
30    2018-12-31  stdresid_01~02    12.0
3080  2019-05-25  stdresid_09~10    13.0
395   2019-12-31  stdresid_01~02    14.0
445   2018-12-31  stdresid_02~03    14.0
851   2018-12-22  stdresid_04~05    17.0

[128 rows x 3 columns]

In [ ]:
for j in sub_before_up3['date']:
    for i in range(len(event)):
        if j in event.at[i, 'dates']:
            sub_before_up3['event'] = list(event.iloc[i, [2]])

print(sub_before_up3)

            date            time  stdres event
1217  2019-12-23  stdresid_04~05     3.0   NaN
6619  2019-12-30  stdresid_17~18     3.0   NaN
5997  2019-06-06  stdresid_16~17     3.0   NaN
4444  2019-09-21  stdresid_12~13     3.0   NaN
7285  2019-07-19  stdresid_19~20     3.0   NaN
...          ...             ...     ...   ...
30    2018-12-31  stdresid_01~02    12.0   NaN
3080  2019-05-25  stdresid_09~10    13.0   NaN
395   2019-12-31  stdresid_01~02    14.0   NaN
445   2018-12-31  stdresid_02~03    14.0   NaN
851   2018-12-22  stdresid_04~05    17.0   NaN

[128 rows x 4 columns]

In [ ]:
sub_before_up3['event'].isna().sum()

128

In [ ]:
find_event(sub_before, 17.0)

(           date            time  stdres
 851  2018-12-22  stdresid_04~05    17.0,
                                       n         sd         ed     rn     en
 3                       최현우 <THE BRAIN> 2018-12-04 2018-12-31  26460  18604
 7                              뮤지컬 잭더리퍼 2018-12-10 2019-01-20      0     60
 10              PSY CONCERT 올나잇스탠드 2018 2018-12-17 2018-12-25  48000  47571
 11  2017 케이윌 전국투어콘서트 <THE K.WILL> 서울 공연 2018-12-18 2018-12-25  10600  10980
 12           2018 박정현 콘서트 외 기획공연 대관 신청서 2018-12-18 2018-12-25  14000   9159
 13                          2018 태일 콘서트 2018-12-20 2018-12-23    400    839
 15                       박학기 콘서트 <계절학기> 2018-12-22 2018-12-22    200    284)

In [ ]:
find_event1(sub_before, 17.0)

7

In [ ]:
event_list = []

for i in range(len(event)):
    for j in sub_before_up3['date']:
        if j in event.at[i, 'dates']:
            time = sub_before_up3[sub_before_up3['date']==j]['time'].unique()
            event_list.append()
            event_num_df1.iloc[j, time] =

In [ ]:
def find_event_num1(df):

    date_values = pd.to_datetime(date_df['date'].unique())

    new_df = pd.DataFrame()

    for i in range(len(event)):
        for j in date_values:
            if j in event.at[i, 'dates']:
                new_df = new_df.append(event.iloc[i, [2,3,4,5,6]])

In [ ]:
new_df = pd.DataFrame(columns=date_values)

new_df.loc[0] = 0

new_df = pd.DataFrame(columns=date_values)
event_list5 = event[['n', 'dates']]
for i in range(len(event_list5)):
    for date in event_list5['dates'][i]:
        new_df[date] = event_list5['n'][i]


new_df